
<div class="animated fadeIn">  
  <div class="row">
     <div class="col-sm-12">
        <div class="card">        
           <div class="card-body">
             <h1>Informe de Cierre de la Etapa 3</h1>
             <p class="text-muted">Ingrese información para cada sección del informe</p>
             <hr>
                <div class="row">                      
                     <div class="col-md-12 col-xs-12 d-flex justify-content-end" >   
                       <button type="submit" class="btn btn-sm btn-outline-primary" (click)="openModal();"><i class="fa icon-eye"></i> Vista previa</button>
                       <button type="submit" class="btn btn-sm btn-outline-info"><i class="fa cil-check"></i> Firmar</button> 
                       <button type="submit" class="btn btn-sm btn-outline-success"><i class="fa cil-cog"></i> Generar</button> 

                        <!--<div class="btn-group btn-group-toggle" data-toggle="buttons">                                
                           <label class="btn btn-secondary  rounded">
                             <input type="radio" name="options" id="option1" autocomplete="off"  (click)="openModal();"> Vista previa
                           </label>
                         
                           <label class="btn btn-secondary rounded mx-1">
                             <input type="radio" name="options" id="option2" autocomplete="off"> Generar
                           </label>
                         
                           <label class="btn btn-secondary rounded">
                             <input type="radio" name="options" id="option3" autocomplete="off"> Firmar
                           </label>
                         </div>-->                        
                     </div>                      
                </div>
                <div class="row">
                   <div class="col-sm-12">
                       <span class="h5">Antecedentes</span>                       
                       <br>
                       <ckeditor [editor]="Editor" tagName="textarea"  [(ngModel)] = "model1.editorData" (ready)="onReady($event)"></ckeditor>
                       <hr>
                       <span class="h5">Análisis</span>                       
                       <br>
                       <ckeditor [editor]="Editor" tagName="textarea"  [(ngModel)] = "model2.editorData" (ready)="onReady($event)"></ckeditor>
                       <hr>
                       <span class="h5">Conclusiones</span>                        
                       <br>
                       <ckeditor [editor]="Editor" tagName="textarea"  [(ngModel)] = "model3.editorData" (ready)="onReady($event)"></ckeditor>
                       <hr>                     
                       <span class="h5">Recomendaciones</span>                         
                       <br>
                       <ckeditor [editor]="Editor" tagName="textarea"  [(ngModel)] = "model4.editorData" (ready)="onReady($event)"></ckeditor>
                       <hr>
                       <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0" style="width: 330px;">
                           <input type="file" id="selectedFile" style="display: none;" #attachments (change)="onFileChanged($event)" multiple/>
                           <input type="button" class="btn btn-block btn-primary" value="Ajuntar Anexos" onclick="document.getElementById('selectedFile').click();" />
                           <br>
                           <div class="card-body" *ngIf="listOfFiles.length > 0">
                                   <table  class="table table-bordered table-striped  table-responsive-sm">
                                     <thead>
                                       <tr>
                                         <th>#</th>
                                         <th>Archivo</th>
                                         <th></th>
                                       </tr>
                                     </thead>
                                     <tbody *ngFor="let file of listOfFiles; let i = index">
                                       <tr>
                                         <td>{{i + 1}}</td>
                                         <td>{{file}}</td>
                                         <td>
                                           <a class="btn btn-sm btn-danger" (click) ="removeSelectedFile(i);"><i class="icon-close"></i></a>
                                         </td>
                                       </tr>
                                     </tbody>
                                   </table>                                                            
                            </div> 

                               <!-- modal -->
                             <div bsModal #sendFileModal="bs-modal" class="modal fade" [config]="{ backdrop: 'static' }" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                               <div class="modal-dialog  modal-lg " role="document">
                                 <div class="modal-content">
                                   <div class="modal-header">
                                     <h4 class="modal-title">Vista PDF</h4>
                                     <button type="button" class="close" (click)="closeModal();" aria-label="Close">
                                       <span aria-hidden="true">&times;</span>
                                     </button>
                                   </div>
                                   <div class="modal-body">
                                     <!-- <div class="card-body p-4" >  -->
                                       <ngx-extended-pdf-viewer [src]="'assets/InformeCondicionesPrevias_0001_18.06.2021_final.pdf'" useBrowserLocale="true" height="80vh"></ngx-extended-pdf-viewer>
                                       <!-- </div> -->
                                   </div>
                                   <div class="modal-footer">
                                     <!-- <button type="button" class="btn btn-secondary" (click)="cleanDormModal();">Limpiar</button> -->
                                     <button type="button" class="btn btn-info"(click)="closeModal();" >Cerrar</button>
                                   </div>
                                 </div><!-- /.modal-content -->
                               </div><!-- /.modal-dialog -->
                             </div><!-- /.modal -->
                       </div>
                 </div>
                </div>               
           </div>   
           <div class="card-footer p-4">
             <div class="row">
               <div class="col-4">
               </div>
               <div class="col-4">
                 <button type="button" class="btn btn-block btn-outline-primary" (click) ="confirmarGuardar();">Guardar</button>
               </div>
               <div class="col-4">
                 <button type="button" class="btn btn-block btn-success" (click) ="confirmarFinalizar();">Finalizar</button>
               </div>
             </div>
           </div> 
       </div>
 </div>
</div>  


