<div class="animated fadeIn">  
    <div class="row">
       <div class="col-sm-12">
          <div class="card">        
             <div class="card-body">
               <h1>Ministerio de Energía y Minas</h1>
               <p class="text-muted">Ingrese información de la entidad</p>
               <hr>
                  <div class="row">
                     <div class="col-sm-12">
                         <span class="h5">Ingrese la descripción de la entidad</span>                       
                         <br>
                         <ckeditor [editor]="Editor" tagName="textarea"  [(ngModel)] = "model1.editorData" (ready)="onReady($event)"></ckeditor>
                         <hr>
                        
                         <div class="row" >
                            <div class="col-6 d-flex justify-content-end">
                                <span class="text-muted">Es líder de una cadena de servicios</span>
                            </div>
                            <div class="col-6">
                              <label class="switch switch-label switch-pill switch-outline-primary">
                                  <input type="checkbox" class="switch-input">
                                  <span class="switch-slider" data-checked="Si" data-unchecked="No"></span>
                              </label>
                            </div>
                        </div> 


                         <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0" style="width: 330px;">
                             <input type="file" id="selectedFile" style="display: none;" #attachments (change)="onFileChanged($event)" multiple/>
                             <input type="button" class="btn btn-block btn-primary" value="Cargar logotipo" onclick="document.getElementById('selectedFile').click();" />
                             <br>
                             <div class="card-body" *ngIf="listOfFiles.length > 0">
                                     <table  class="table table-bordered table-striped  table-responsive-sm">
                                       <thead>
                                         <tr>
                                           <th>#</th>
                                           <th>Archivo</th>
                                           <th></th>
                                         </tr>
                                       </thead>
                                       <tbody *ngFor="let file of listOfFiles; let i = index">
                                         <tr>
                                           <td>{{i + 1}}</td>
                                           <td>{{file}}</td>
                                           <td>
                                             <a class="btn btn-sm btn-danger" (click) ="removeSelectedFile(i);"><i class="icon-close"></i></a>
                                           </td>
                                         </tr>
                                       </tbody>
                                     </table>                                                            
                              </div> 

                         </div>
                   </div>
                  </div>               
             </div>
             <div class="card-footer p-4">
               <div class="row">
                 <div class="col-4">
                    <a href="#/Entidades/GestionarEntidad" class="btn btn-block btn-warning">Volver al listado de entidades</a>
                 </div>
                 <div class="col-4">
                   <button type="button" class="btn btn-block btn-outline-primary"  (click) ="confirmarGuardar();">Guardar</button>
                 </div>
                 <div class="col-4">
                   <button type="button" class="btn btn-block btn-success"  (click) ="confirmarFinalizar();">Finalizar</button>
                 </div>
               </div>
             </div>
         </div>
   </div>
 </div>   
 