<div class="animated fadeIn">  
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <small>Formulario de</small>
                <strong>Búsqueda de Servicio</strong>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-sm-7">
                        <label for="criterio">Servicio</label>
                        <input type="text" class="form-control" id="ccriterio" [(ngModel)]="criterio" placeholder="Criterio">
                    </div>
                    <div class="form-group col-sm-5">
                        <label for="ccondicion">Tipo de Servicio</label>
                        <select class="form-control" id="ccondicion" [(ngModel)]="condicion">
                        <option>Seleccione</option>
                        <option>Servicios prestacionales</option>
                        <option>Servicios no prestacionales</option>                    
                        </select>
                    </div>
                </div>
                <div class="row">   
                    <div class="form-group col-sm-4">
                        <label for="prioridad">Prioridad</label>
                        <input type="text" class="form-control" id="cprioridad" [(ngModel)]="prioridad" placeholder="Prioridad">
                    </div> 
                    <div class="form-group col-sm-4">
                        <label for="ccyear">Fecha de Registro (Desde)</label>
                        <input type="date" [(ngModel)]="dateDesde" class="form-control" id="ccnumber" >
                    </div>
                        <div class="form-group col-sm-4">
                        <label for="ccyear">Fecha de Registro (Hasta)</label>
                    <input type="date"  [(ngModel)]="dateHasta" class="form-control" id="ccnumber" >
                    </div>               
                </div>
            <!--<div class="row">
                <div class="form-group col-sm-4">
                  <label for="ccmonth">Nombres</label>
                  <input type="text" class="form-control" id="ccnumber" [(ngModel)]="nombreUser" placeholder="Nombres">
                </div>
                <div class="form-group col-sm-4">
                  <label for="ccyear">Apellido Paterno</label>
                  <input type="text" class="form-control" id="ccnumber" [(ngModel)]="apePaternoUser" placeholder="Apellido paterno">
                </div> -->                
            </div>
            <div class="card-footer">
              <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Buscar</button>
              <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Restablecer</button>
            </div>       
        </div>
      </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <!-- <div class="card-header">
              <i class="fa fa-align-justify"></i> Combined All Table
            </div> -->
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-12">
                        <small>Listado de</small>
                        <strong>Servicios</strong>
                    </div>                    
                </div>
            </div>
            <div class="card-body" >
              <table class="table table-bordered table-striped table-responsive-sm">
                <thead>
                    <th>Nro.</th>
                    <th>Servicio</th>                    
                    <th>Tipo de Servicio</th>
                    <th>Prioridad</th>                    
                    <th>Estado</th>
                    <th>Acciones</th>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Impacto en la satisfacción de las personas</td>                        
                        <td>prestacional </td>
                        <td>1</td>
                        <td><span class="badge badge-success">Activo</span></td>
                        <td>                          
                            <a href="#/Implementacion/CondicionesPrevias/NuevoServicioPriorizacion" type="submit" class="btn btn-sm btn-primary"><i class="fa icon-eye"></i> </a>
                          <button type="submit" class="btn btn-sm btn-warning"><i class="fa cil-highligt"></i> </button>
                          <button type="reset" class="btn btn-sm btn-success"><i class="fa cil-check"></i> </button>
                        </td>
                    </tr> 
                    <tr>
                        <td>2</td>
                        <td>Demanda del servicio</td>
                        <td>prestacional </td>                        
                        <td>2</td>
                        <td><span class="badge badge-success">Activo</span></td>
                        <td>                          
                            <a href="#/Implementacion/CondicionesPrevias/NuevoServicioPriorizacion" type="submit" class="btn btn-sm btn-primary"><i class="fa icon-eye"></i> </a>
                            <button type="submit" class="btn btn-sm btn-warning"><i class="fa cil-highligt"></i> </button>
                            <button type="reset" class="btn btn-sm btn-success"><i class="fa cil-check"></i> </button>                       
                        </td>
                    </tr> 
                    <tr>
                        <td>3</td>
                        <td>Grado de vinculación del servicio con los objetivos estratégicos</td>
                        <td>no prestacional</td>                        
                        <td>3</td>
                        <td><span class="badge badge-success">Activo</span></td>
                        <td>
                            <a href="#/Implementacion/CondicionesPrevias/NuevoServicioPriorizacion" type="submit" class="btn btn-sm btn-primary"><i class="fa icon-eye"></i> </a>
                          <button type="submit" class="btn btn-sm btn-warning"><i class="fa cil-highligt"></i> </button>
                          <button type="reset" class="btn btn-sm btn-success"><i class="fa cil-check"></i> </button>                        
                        </td>
                    </tr>                       
                    <tr>
                        <td>4</td>
                        <td>Grado de articulación con algún programa presupuestal (PPoR o PPI17)</td>
                        <td>prestacional</td>
                        <td>4</td>
                        <td><span class="badge badge-success">Activo</span></td>
                        <td>                          
                            <a href="#/Implementacion/CondicionesPrevias/NuevoServicioPriorizacion" type="submit" class="btn btn-sm btn-primary"><i class="fa icon-eye"></i> </a>
                          <button type="submit" class="btn btn-sm btn-warning"><i class="fa cil-highligt"></i> </button>
                          <button type="reset" class="btn btn-sm btn-success"><i class="fa cil-check"></i> </button>  
                        </td>
                    </tr> 
                    <tr>
                        <td>5</td>
                        <td>Grado de avance en la Implementación de la gestión por procesos18 en la cadena de valor para la provisión del servicio</td>                        
                        <td>no prestacional</td>
                        <td>5</td>
                        <td><span class="badge badge-success">Activo</span></td>
                        <td>                          
                            <a href="#/Implementacion/CondicionesPrevias/NuevoServicioPriorizacion" type="submit" class="btn btn-sm btn-primary"><i class="fa icon-eye"></i> </a>
                            <button type="submit" class="btn btn-sm btn-warning"><i class="fa cil-highligt"></i> </button>
                            <button type="reset" class="btn btn-sm btn-success"><i class="fa cil-check"></i> </button>
                        </td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Grado de Impacto en los procesos</td>                        
                        <td>no prestacional</td>
                        <td>6</td>
                        <td><span class="badge badge-success">Activo</span></td>
                        <td>                          
                            <a href="#/Implementacion/CondicionesPrevias/NuevoServicioPriorizacion" type="submit" class="btn btn-sm btn-primary"><i class="fa icon-eye"></i> </a>
                            <button type="submit" class="btn btn-sm btn-warning"><i class="fa cil-highligt"></i> </button>
                            <button type="reset" class="btn btn-sm btn-success"><i class="fa cil-check"></i> </button>
                        </td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Grado de impacto en los tiempos de espera</td>                        
                        <td>no prestacional</td>
                        <td>7</td>
                        <td><span class="badge badge-success">Activo</span></td>
                        <td>                          
                            <a href="#/Implementacion/CondicionesPrevias/NuevoServicioPriorizacion" type="submit" class="btn btn-sm btn-primary"><i class="fa icon-eye"></i> </a>
                            <button type="submit" class="btn btn-sm btn-warning"><i class="fa cil-highligt"></i> </button>
                            <button type="reset" class="btn btn-sm btn-success"><i class="fa cil-check"></i> </button>
                        </td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>Pertenencia a una cadena de servicio</td>                        
                        <td>no prestacional</td>
                        <td>8</td>
                        <td><span class="badge badge-success">Activo</span></td>
                        <td>                          
                            <a href="#/Implementacion/CondicionesPrevias/NuevoServicioPriorizacion" type="submit" class="btn btn-sm btn-primary"><i class="fa icon-eye"></i> </a>
                            <button type="submit" class="btn btn-sm btn-warning"><i class="fa cil-highligt"></i> </button>
                            <button type="reset" class="btn btn-sm btn-success"><i class="fa cil-check"></i> </button>
                        </td>
                    </tr>        
                </tbody>
              </table>              
              <div class="card-body">
                <div class="row">
                    <div class="col-xs-12 col-12 d-sm-down-none">
                      <pagination ng-reflect-total-items="64" ng-reflect-model="4" class="ng-untouched ng-pristine ng-valid">
                        <ul class="pagination" ng-reflect-ng-class="">
                            <li class="pagination-prev page-item"><a href="" class="page-link">Anterior</a></li>
                            <li class="pagination-page page-item active"><a href="" class="page-link">1</a></li>
                            <li class="pagination-page page-item"><a href="" class="page-link">2</a></li>
                            <li class="pagination-page page-item"><a href="" class="page-link">3</a></li>
                            <li class="pagination-page page-item"><a href="" class="page-link">4</a></li>
                            <li class="pagination-page page-item"><a href="" class="page-link">5</a></li>
                            <li class="pagination-page page-item"><a href="" class="page-link">6</a></li>
                            <li class="pagination-page page-item"><a href="" class="page-link">7</a></li>
                            <li class="pagination-next page-item"><a href="" class="page-link">Siguiente</a></li>
                        </ul>
                    </pagination>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>

