<div class="animated fadeIn">
        <div> <!--</div> class="container">-->
            <div class="row">
                <div class="col-md-12 mx-auto">
                        <div class="card mx-12" >
                                <div class="card-body p-12">
                                    <div class="col-md-12 mx-auto">
                                        <!--<form class="was-validated">-->
                                        <h1>Cadena de Valor</h1>
                                        <p class="text-muted">Registre comentario respecto a la evaluación de la entidad</p>
                                        <hr>
                                    </div>
                                </div>  
                        </div>
                        <div class="card mx-12" >
                            <div class="card-header">                            
                                    <h3>Servicio de licenciamiento de contrucción de inmueble no comercial</h3>                               
                            </div>
                            <div class="card-body p-12" style="background-color:white;">
                                    <div class="row">
                                        <div class="col-md-12 mx-auto">
                                                <h3>Segmentos de personas que reciben el servicio</h3>
                                                <ckeditor [editor]="Editor" tagName="textarea"  [(ngModel)] = "model1.editorData" (ready)="onReady($event)"></ckeditor>
                                                <!--</form>--> 
                                                <hr>                                     
                                                <br>
                                            </div>
                                            <div class="col-md-12 mx-auto">
                                                <h3>Descripción de los límites del proceso de provisión del servicio</h3>
                                                <ckeditor [editor]="Editor" tagName="textarea"  [(ngModel)] = "model1.editorData" (ready)="onReady($event)"></ckeditor>
                                                <hr>                                     
                                                <br>
                                            </div>
                                            <div class="col-md-12 mx-auto">
                                                <h3> objetivo o finalidad del servicio</h3>
                                                <ckeditor [editor]="Editor" tagName="textarea"  [(ngModel)] = "model1.editorData" (ready)="onReady($event)"></ckeditor>
                                                <hr>                                     
                                                <br>
                                            </div>
                                            <div class="col-md-12 mx-auto">
                                                <h3> Resultados esperados</h3>
                                                <ckeditor [editor]="Editor" tagName="textarea"  [(ngModel)] = "model1.editorData" (ready)="onReady($event)"></ckeditor>
                                                <hr>                                     
                                                <br>
                                            </div>
                                            <div class="col-md-12 mx-auto">
                                                <h3> El servicio es:</h3>   
                                                <div class="row" >
                                                    <div class="col-4">
                                                        <span class="text-muted">Producto final</span>
                                                    </div>
                                                    <div class="col-4">
                                                    <label class="switch switch-label switch-pill switch-outline-primary">
                                                        <input type="checkbox" class="switch-input">
                                                        <span class="switch-slider" data-checked="Si" data-unchecked="No"></span>
                                                    </label>
                                                    </div>
                                                </div>
                                                <div class="row" >
                                                    <div class="col-4">
                                                        <span class="text-muted">Producto intermedio</span>
                                                    </div>
                                                    <div class="col-4">
                                                    <label class="switch switch-label switch-pill switch-outline-primary">
                                                        <input type="checkbox" class="switch-input">
                                                        <span class="switch-slider" data-checked="Si" data-unchecked="No"></span>
                                                    </label>
                                                    </div>
                                                </div>                          
                                                <hr>                                     
                                                <br>
                                            </div>
                                    </div>
                            
                                    <div class="col-md-12 mx-auto">
                                        <!--<form class="was-validated">-->                                                              
                                        <hr>                                     
                                        <br>
                                    </div>                           
                                    <div class="col-md-12 mx-auto">
                                        <h3> Selecciones el servicio previo y el servicio posterior</h3>
                                    </div>
                            </div>
                            <div class="card-footer p-4">
                                <div class="row">
                                    <div class="col-4">
                                        <button type="button" class="btn btn-block btn-warning">Volver al listado de usuarios</button>
                                    </div>
                                    <div class="col-4">
                                        <button type="button" class="btn btn-block btn-danger">Restablecer</button>
                                    </div>
                                    <div class="col-4">
                                        <button type="button" class="btn btn-block btn-success">Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </div>                  
                </div>
            </div>
        </div>
</div>