<div class="animated fadeIn">  
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <small>Buscar</small>
            <strong>Registros de evaluaciones de entidades</strong>
          </div>

          <div class="card-body">
            
            <div class="row">
                <div class="form-group col-sm-4">
                  <label for="ccyear">Fecha de Registro (Desde)</label>
                  <input type="date" [(ngModel)]="dateDesde" class="form-control" id="ccnumber" >
                </div>
                <div class="form-group col-sm-4">
                  <label for="ccyear">Fecha de Registro (Hasta)</label>
                  <input type="date"  [(ngModel)]="dateHasta" class="form-control" id="ccnumber" >
                </div>
                <div class="form-group col-sm-4">
                    <label for="ccyear">Entidad</label>
                    <select class="form-control" id="ccmonth" [(ngModel)]="estadoUser">
                    <option>Seleccione</option>
                    <option>Presidencia del Concejo de Ministros</option>
                    <option>Ministerio de Cultura</option>
                    <option>Ministerio de Educación</option>
                    <option>Biblioteca Nacional</option>
                    </select>
                </div>
              </div>

          </div>
          <div class="card-footer">
              <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Buscar</button>
              <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Restablecer</button>
          </div>  
        </div>
      </div>
    </div>
</div>

<div class="animated fadeIn"> 
    <div class="row">
        <div class="col-lg-12">
          <div class="card">
              
            <div class="card-header">
                <small>Lista de</small>
                <strong>Registros de evaluaciones de entidades</strong>
            </div>
            <div class="card-body" >
              <table class="table table-bordered table-striped table-responsive-sm">
                <thead>
                    <th>Nro.</th>
                    <th>Entidad</th>
                    <th>Sectorista</th>
                    <th>Fecha de registro</th>
                    <th>Validado</th>
                    <th>Fecha de validado</th>
                    <th style="width: 140px;">Acciones</th>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Ministerio de Energía y Minas</td>
                        <td>Rosa Cecilia Robles Rodríguez</td>
                        <td>12/02/2021 14:02:21</td>
                        <td><span class="badge badge-success">Sí</span></td>
                        <td>12/02/2021 14:02:21</td>
                        <td>
                            <a href="#/Implementacion/CondicionesPrevias/EvaluaEntidad" type="submit" class="btn btn-sm btn-primary"><i class="fa icon-eye"></i> </a>
                          <button type="submit" class="btn btn-sm btn-warning"><i class="fa cil-highligt"></i> </button>
                          <button type="reset" class="btn btn-sm btn-success"><i class="fa cil-check"></i> </button>
                        </td>
                    </tr> 
                    <tr>
                        <td>1</td>
                        <td>Ministerio de Energía y Minas</td>
                        <td>Rosa Cecilia Robles Rodríguez</td>
                        <td>12/02/2021 14:02:21</td>
                        <td><span class="badge badge-success">Sí</span></td>
                        <td>12/02/2021 14:02:21</td>
                        <td>
                          <a href="#/Implementacion/CondicionesPrevias/EvaluaEntidad" type="submit" class="btn btn-sm btn-primary"><i class="fa icon-eye"></i> </a>
                          <button type="submit" class="btn btn-sm btn-warning"><i class="fa cil-highligt"></i> </button>
                          <button type="reset" class="btn btn-sm btn-success"><i class="fa cil-check"></i> </button>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Ministerio de Energía y Minas</td>
                        <td>Rosa Cecilia Robles Rodríguez</td>
                        <td>12/02/2021 14:02:21</td>
                        <td><span class="badge badge-success">Sí</span></td>
                        <td>12/02/2021 14:02:21</td>
                        <td>
                            <a href="#/Implementacion/CondicionesPrevias/EvaluaEntidad" type="submit" class="btn btn-sm btn-primary"><i class="fa icon-eye"></i> </a>
                          <button type="submit" class="btn btn-sm btn-warning"><i class="fa cil-highligt"></i> </button>
                          <button type="reset" class="btn btn-sm btn-success"><i class="fa cil-check"></i> </button>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Ministerio de Relaciones Exteriores</td>
                        <td>José Manuel Cuya Yaguana</td>
                        <td>12/02/2021 14:02:21</td>
                        <td><span class="badge badge-success">Sí</span></td>
                        <td>12/02/2021 14:02:21</td>
                        <td>
                            <a href="#/Implementacion/CondicionesPrevias/EvaluaEntidad" type="submit" class="btn btn-sm btn-primary"><i class="fa icon-eye"></i> </a>
                          <button type="submit" class="btn btn-sm btn-warning"><i class="fa cil-highligt"></i> </button>
                          <button type="reset" class="btn btn-sm btn-success"><i class="fa cil-check"></i> </button>
                        </td>
                    </tr> 
                    <tr>
                        <td>1</td>
                        <td>Ministerio de Cultura</td>
                        <td>Rosa Cecilia Robles Rodríguez</td>
                        <td>12/02/2021 14:02:21</td>
                        <td><span class="badge badge-success">Sí</span></td>
                        <td>12/02/2021 14:02:21</td>
                        <td>
                            <a href="#/Implementacion/CondicionesPrevias/EvaluaEntidad" type="submit" class="btn btn-sm btn-primary"><i class="fa icon-eye"></i> </a>
                          <button type="submit" class="btn btn-sm btn-warning"><i class="fa cil-highligt"></i> </button>
                          <button type="reset" class="btn btn-sm btn-success"><i class="fa cil-check"></i> </button>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Biblioteca Nacional del Perú</td>
                        <td>Ana Cecilia Machuca Arévalo</td>
                        <td>12/02/2021 14:02:21</td>
                        <td><span class="badge badge-warning">No</span></td>
                        <td>---</td>
                        <td>
                            <a href="#/Implementacion/CondicionesPrevias/EvaluaEntidad" type="submit" class="btn btn-sm btn-primary"><i class="fa icon-eye"></i> </a>
                          <button type="submit" class="btn btn-sm btn-warning"><i class="fa cil-highligt"></i> </button>
                          <button type="reset" class="btn btn-sm btn-success"><i class="fa cil-check"></i> </button>
                        </td>
                    </tr> 
                </tbody>
              </table>

              
              <div class="card-body">
                <div class="row">
                    <div class="col-xs-12 col-12 d-sm-down-none">
                      <pagination ng-reflect-total-items="64" ng-reflect-model="4" class="ng-untouched ng-pristine ng-valid">
                        <ul class="pagination" ng-reflect-ng-class="">
                            <li class="pagination-prev page-item"><a href="" class="page-link">Anterior</a></li>
                            <li class="pagination-page page-item active"><a href="" class="page-link">1</a></li>
                            <li class="pagination-page page-item"><a href="" class="page-link">2</a></li>
                            <li class="pagination-page page-item"><a href="" class="page-link">3</a></li>
                            <li class="pagination-page page-item"><a href="" class="page-link">4</a></li>
                            <li class="pagination-page page-item"><a href="" class="page-link">5</a></li>
                            <li class="pagination-page page-item"><a href="" class="page-link">6</a></li>
                            <li class="pagination-page page-item"><a href="" class="page-link">7</a></li>
                            <li class="pagination-next page-item"><a href="" class="page-link">Siguiente</a></li>
                        </ul>
                    </pagination>
                    </div>
                </div>

              </div>

            </div>
          </div>
        </div>
    </div>
</div>

