<div class="animated fadeIn">  
  <div class="row">
    <div class="col-sm-12">
      <div class="card">        
        <div class="card-body">
          <h1>Registrar Autodiagnóstico</h1>
           <p class="text-muted">Ingrese la información de autodiagnóstico de la entidad</p>
           <hr>
          <div class="row">
            <div class="col-sm-12">
              <accordion [showArrows]="true" [closeOthers]="false" [expandAll]="true" >
                <accordion-group heading="Componente 1: Conocer las necesidades y expectativas de las personas">
                  <table class="table table-bordered table-striped table-responsive-sm">
                    <thead>
                        <th>Nro.</th>
                        <th>Práctica desarrollada</th>
                        <th>Guía de Respuesta</th>
                        <th>Puntaje máximo <span class="badge badge-success">12</span></th>
                        <th>Puntaje obtenido <span class="badge badge-warning">7.5</span></th>
                        <th>Observaciones / Evidencia (**)</th>
                        <th>Resultado (%) <span class="badge badge-success">80%</span></th>
                        <th>Acción de mejora</th>
                    </thead>
                    <tbody>
                      <tr>
                          <td>1.1</td>
                          <td>¿Se cuenta con un diseño metodológico, que permitan recoger las necesidades y expectativas de las personas?</td>
                          <td>
                            <small>
                            No se cuenta con un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            1: Se está elaborando un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            2: El diseño metodológico para recoger las necesidades y expectativas de las personas se encuentra aprobado. <br>
                            3: Se cumple con lo definido en el criterio anterior. Adicionalmente, se cuenta con un documento que muestre los resultados sobre la aplicación del diseño metodológico.
                          </small>
                        </td>
                          <td>3</td>
                          <td>
                            <input type="text" class="form-control" id="numExp" placeholder="0.0" value="2.5">
                          </td>
                          <td>                
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control"  placeholder="Describa la observación"></textarea>
                          </td>
                          <td>
                            <span class="badge badge-success">2.5</span>
                          </td>
                          <td>
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control"  placeholder="Acción de mejora"></textarea>
                          </td>
                      </tr>
                      <tr>
                          <td>1.2</td>
                          <td>¿Se cuenta con un diseño metodológico, que permitan recoger las necesidades y expectativas de las personas?</td>
                          <td>
                            <small>
                            No se cuenta con un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            1: Se está elaborando un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            2: El diseño metodológico para recoger las necesidades y expectativas de las personas se encuentra aprobado. <br>
                            3: Se cumple con lo definido en el criterio anterior. Adicionalmente, se cuenta con un documento que muestre los resultados sobre la aplicación del diseño metodológico.
                          </small>
                        </td>
                          <td>3</td>
                          <td>
                            <input type="text" class="form-control" id="numExp" placeholder="0.0" value="2.5">
                          </td>
                          <td>                
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Describa la observación"></textarea>
                          </td>
                          <td>
                            <span class="badge badge-success">2.5</span>
                          </td>
                          <td>
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Acción de mejora"></textarea>
                          </td>
                      </tr>
                      <tr>
                          <td>1.3</td>
                          <td>¿Se cuenta con un diseño metodológico, que permitan recoger las necesidades y expectativas de las personas?</td>
                          <td>
                            <small>
                            No se cuenta con un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            1: Se está elaborando un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            2: El diseño metodológico para recoger las necesidades y expectativas de las personas se encuentra aprobado. <br>
                            3: Se cumple con lo definido en el criterio anterior. Adicionalmente, se cuenta con un documento que muestre los resultados sobre la aplicación del diseño metodológico.
                          </small>
                        </td>
                          <td>3</td>
                          <td>
                            <input type="text" class="form-control" id="numExp" placeholder="0.0" value="2.5">
                          </td>
                          <td>                
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Describa la observación"></textarea>
                          </td>
                          <td>
                            <span class="badge badge-success">2.5</span>
                          </td>
                          <td>
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Acción de mejora"></textarea>
                          </td>
                      </tr>
                    </tbody>
                  </table>
                </accordion-group>
              
                <accordion-group heading="Componente 2: Identificar el valor del servicio">
                  <table class="table table-bordered table-striped table-responsive-sm">
                    <thead>
                        <th>Nro.</th>
                        <th>Práctica desarrollada</th>
                        <th>Guía de Respuesta</th>
                        <th>Puntaje máximo <span class="badge badge-success">12</span></th>
                        <th>Puntaje obtenido <span class="badge badge-warning">7.5</span></th>
                        <th>Observaciones / Evidencia (**)</th>
                        <th>Resultado (%) <span class="badge badge-success">80%</span></th>
                        <th>Acción de mejora</th>
                    </thead>
                    <tbody>
                      <tr>
                          <td>2.1</td>
                          <td>¿Se cuenta con un diseño metodológico, que permitan recoger las necesidades y expectativas de las personas?</td>
                          <td>
                            <small>
                            No se cuenta con un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            1: Se está elaborando un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            2: El diseño metodológico para recoger las necesidades y expectativas de las personas se encuentra aprobado. <br>
                            3: Se cumple con lo definido en el criterio anterior. Adicionalmente, se cuenta con un documento que muestre los resultados sobre la aplicación del diseño metodológico.
                          </small>
                        </td>
                          <td>3</td>
                          <td>
                            <input type="text" class="form-control" id="numExp" placeholder="0.0" value="2.5">
                          </td>
                          <td>                
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Describa la observación"></textarea>
                          </td>
                          <td>
                            <span class="badge badge-success">2.5</span>
                          </td>
                          <td>
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Acción de mejora"></textarea>
                          </td>
                      </tr>
                      <tr>
                          <td>2.2</td>
                          <td>¿Se cuenta con un diseño metodológico, que permitan recoger las necesidades y expectativas de las personas?</td>
                          <td>
                            <small>
                            No se cuenta con un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            1: Se está elaborando un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            2: El diseño metodológico para recoger las necesidades y expectativas de las personas se encuentra aprobado. <br>
                            3: Se cumple con lo definido en el criterio anterior. Adicionalmente, se cuenta con un documento que muestre los resultados sobre la aplicación del diseño metodológico.
                          </small>
                          </td>
                          <td>2.3</td>
                          <td>
                            <input type="text" class="form-control" id="numExp" placeholder="0.0" value="2.5">
                          </td>
                          <td>                
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Describa la observación"></textarea>
                          </td>
                          <td>
                            <span class="badge badge-success">2.5</span>
                          </td>
                          <td>
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Acción de mejora"></textarea>
                          </td>
                      </tr>
                      <tr>
                          <td>2.3</td>
                          <td>¿Se cuenta con un diseño metodológico, que permitan recoger las necesidades y expectativas de las personas?</td>
                          <td>
                            <small>
                            No se cuenta con un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            1: Se está elaborando un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            2: El diseño metodológico para recoger las necesidades y expectativas de las personas se encuentra aprobado. <br>
                            3: Se cumple con lo definido en el criterio anterior. Adicionalmente, se cuenta con un documento que muestre los resultados sobre la aplicación del diseño metodológico.
                          </small>
                          </td>
                          <td>2.3</td>
                          <td>
                            <input type="text" class="form-control" id="numExp" placeholder="0.0" value="2.5">
                          </td>
                          <td>                
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Describa la observación"></textarea>
                          </td>
                          <td>
                            <span class="badge badge-success">2.5</span>
                          </td>
                          <td>
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Acción de mejora"></textarea>
                          </td>
                      </tr>
                      <tr>
                          <td>2.4</td>
                          <td>¿Se cuenta con un diseño metodológico, que permitan recoger las necesidades y expectativas de las personas?</td>
                          <td>
                            <small>
                            No se cuenta con un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            1: Se está elaborando un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            2: El diseño metodológico para recoger las necesidades y expectativas de las personas se encuentra aprobado. <br>
                            3: Se cumple con lo definido en el criterio anterior. Adicionalmente, se cuenta con un documento que muestre los resultados sobre la aplicación del diseño metodológico.
                          </small>
                        </td>
                          <td>3</td>
                          <td>
                            <input type="text" class="form-control" id="numExp" placeholder="0.0" value="2.5">
                          </td>
                          <td>                
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Describa la observación"></textarea>
                          </td>
                          <td>
                            <span class="badge badge-success">2.5</span>
                          </td>
                          <td>
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Acción de mejora"></textarea>
                          </td>
                      </tr> 
                    </tbody>
                  </table>
                </accordion-group>
              
                <accordion-group heading="Componente 3: Fortalecer el servicio">
                  <table class="table table-bordered table-striped table-responsive-sm">
                    <thead>
                        <th>Nro.</th>
                        <th>Práctica desarrollada</th>
                        <th>Guía de Respuesta</th>
                        <th>Puntaje máximo <span class="badge badge-success">12</span></th>
                        <th>Puntaje obtenido <span class="badge badge-warning">7.5</span></th>
                        <th>Observaciones / Evidencia (**)</th>
                        <th>Resultado (%) <span class="badge badge-success">80%</span></th>
                        <th>Acción de mejora</th>
                    </thead>
                    <tbody>
                      <tr>
                          <td>3.1</td>
                          <td>¿Se cuenta con un diseño metodológico, que permitan recoger las necesidades y expectativas de las personas?</td>
                          <td>
                            <small>
                            No se cuenta con un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            1: Se está elaborando un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            2: El diseño metodológico para recoger las necesidades y expectativas de las personas se encuentra aprobado. <br>
                            3: Se cumple con lo definido en el criterio anterior. Adicionalmente, se cuenta con un documento que muestre los resultados sobre la aplicación del diseño metodológico.
                          </small>
                        </td>
                          <td>3</td>
                          <td>
                            <input type="text" class="form-control" id="numExp" placeholder="0.0" value="2.5">
                          </td>
                          <td>                
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Describa la observación"></textarea>
                          </td>
                          <td>
                            <span class="badge badge-success">2.5</span>
                          </td>
                          <td>
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Acción de mejora"></textarea>
                          </td>
                      </tr>
                      <tr>
                          <td>3.2</td>
                          <td>¿Se cuenta con un diseño metodológico, que permitan recoger las necesidades y expectativas de las personas?</td>
                          <td>
                            <small>
                            No se cuenta con un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            1: Se está elaborando un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            2: El diseño metodológico para recoger las necesidades y expectativas de las personas se encuentra aprobado. <br>
                            3: Se cumple con lo definido en el criterio anterior. Adicionalmente, se cuenta con un documento que muestre los resultados sobre la aplicación del diseño metodológico.
                          </small>
                          </td>
                          <td>3</td>
                          <td>
                            <input type="text" class="form-control" id="numExp" placeholder="0.0" value="2.5">
                          </td>
                          <td>                
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Describa la observación"></textarea>
                          </td>
                          <td>
                            <span class="badge badge-success">2.5</span>
                          </td>
                          <td>
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Acción de mejora"></textarea>
                          </td>
                      </tr>
                      <tr>
                          <td>3.3</td>
                          <td>¿Se cuenta con un diseño metodológico, que permitan recoger las necesidades y expectativas de las personas?</td>
                          <td>
                            <small>
                            No se cuenta con un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            1: Se está elaborando un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            2: El diseño metodológico para recoger las necesidades y expectativas de las personas se encuentra aprobado. <br>
                            3: Se cumple con lo definido en el criterio anterior. Adicionalmente, se cuenta con un documento que muestre los resultados sobre la aplicación del diseño metodológico.
                          </small>
                        </td>
                          <td>3</td>
                          <td>
                            <input type="text" class="form-control" id="numExp" placeholder="0.0" value="2.5">
                          </td>
                          <td>                
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Describa la observación"></textarea>
                          </td>
                          <td>
                            <span class="badge badge-success">2.5</span>
                          </td>
                          <td>
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Acción de mejora"></textarea>
                          </td>
                      </tr> 
                      <tr>
                          <td>3.4</td>
                          <td>¿Se cuenta con un diseño metodológico, que permitan recoger las necesidades y expectativas de las personas?</td>
                          <td>
                            <small>
                            No se cuenta con un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            1: Se está elaborando un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            2: El diseño metodológico para recoger las necesidades y expectativas de las personas se encuentra aprobado. <br>
                            3: Se cumple con lo definido en el criterio anterior. Adicionalmente, se cuenta con un documento que muestre los resultados sobre la aplicación del diseño metodológico.
                          </small>
                        </td>
                          <td>3</td>
                          <td>
                            <input type="text" class="form-control" id="numExp" placeholder="0.0" value="2.5">
                          </td>
                          <td>                
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Describa la observación"></textarea>
                          </td>
                          <td>
                            <span class="badge badge-success">2.5</span>
                          </td>
                          <td>
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Acción de mejora"></textarea>
                          </td>
                      </tr> 
                      <tr>
                          <td>3.5</td>
                          <td>¿Se cuenta con un diseño metodológico, que permitan recoger las necesidades y expectativas de las personas?</td>
                          <td>
                            <small>
                            No se cuenta con un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            1: Se está elaborando un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            2: El diseño metodológico para recoger las necesidades y expectativas de las personas se encuentra aprobado. <br>
                            3: Se cumple con lo definido en el criterio anterior. Adicionalmente, se cuenta con un documento que muestre los resultados sobre la aplicación del diseño metodológico.
                          </small>
                        </td>
                          <td>3</td>
                          <td>
                            <input type="text" class="form-control" id="numExp" placeholder="0.0" value="2.5">
                          </td>
                          <td>                
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Describa la observación"></textarea>
                          </td>
                          <td>
                            <span class="badge badge-success">2.5</span>
                          </td>
                          <td>
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Acción de mejora"></textarea>
                          </td>
                      </tr> 
                      <tr>
                          <td>3.6</td>
                          <td>¿Se cuenta con un diseño metodológico, que permitan recoger las necesidades y expectativas de las personas?</td>
                          <td>
                            <small>
                            No se cuenta con un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            1: Se está elaborando un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            2: El diseño metodológico para recoger las necesidades y expectativas de las personas se encuentra aprobado. <br>
                            3: Se cumple con lo definido en el criterio anterior. Adicionalmente, se cuenta con un documento que muestre los resultados sobre la aplicación del diseño metodológico.
                          </small>
                        </td>
                          <td>3</td>
                          <td>
                            <input type="text" class="form-control" id="numExp" placeholder="0.0" value="2.5">
                          </td>
                          <td>                
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Describa la observación"></textarea>
                          </td>
                          <td>
                            <span class="badge badge-success">2.5</span>
                          </td>
                          <td>
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Acción de mejora"></textarea>
                          </td>
                      </tr> 
                      <tr>
                          <td>3.7</td>
                          <td>¿Se cuenta con un diseño metodológico, que permitan recoger las necesidades y expectativas de las personas?</td>
                          <td>
                            <small>
                            No se cuenta con un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            1: Se está elaborando un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            2: El diseño metodológico para recoger las necesidades y expectativas de las personas se encuentra aprobado. <br>
                            3: Se cumple con lo definido en el criterio anterior. Adicionalmente, se cuenta con un documento que muestre los resultados sobre la aplicación del diseño metodológico.
                          </small>
                        </td>
                          <td>3</td>
                          <td>
                            <input type="text" class="form-control" id="numExp" placeholder="0.0" value="2.5">
                          </td>
                          <td>                
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Describa la observación"></textarea>
                          </td>
                          <td>
                            <span class="badge badge-success">2.5</span>
                          </td>
                          <td>
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Acción de mejora"></textarea>
                          </td>
                      </tr> 
                      <tr>
                          <td>3.8</td>
                          <td>¿Se cuenta con un diseño metodológico, que permitan recoger las necesidades y expectativas de las personas?</td>
                          <td>
                            <small>
                            No se cuenta con un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            1: Se está elaborando un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            2: El diseño metodológico para recoger las necesidades y expectativas de las personas se encuentra aprobado. <br>
                            3: Se cumple con lo definido en el criterio anterior. Adicionalmente, se cuenta con un documento que muestre los resultados sobre la aplicación del diseño metodológico.
                          </small>
                        </td>
                          <td>3</td>
                          <td>
                            <input type="text" class="form-control" id="numExp" placeholder="0.0" value="2.5">
                          </td>
                          <td>                
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Describa la observación"></textarea>
                          </td>
                          <td>
                            <span class="badge badge-success">2.5</span>
                          </td>
                          <td>
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Acción de mejora"></textarea>
                          </td>
                      </tr> 
                    </tbody>
                  </table>
                </accordion-group>

                <accordion-group heading="Componente 4: Medición y análisis de la calidad del servicio">
                  <table class="table table-bordered table-striped table-responsive-sm">
                    <thead>
                        <th>Nro.</th>
                        <th>Práctica desarrollada</th>
                        <th>Guía de Respuesta</th>
                        <th>Puntaje máximo <span class="badge badge-success">12</span></th>
                        <th>Puntaje obtenido <span class="badge badge-warning">7.5</span></th>
                        <th>Observaciones / Evidencia (**)</th>
                        <th>Resultado (%) <span class="badge badge-success">80%</span></th>
                        <th>Acción de mejora</th>
                    </thead>
                    <tbody>
                      <tr>
                          <td>3.1</td>
                          <td>¿Se cuenta con un diseño metodológico, que permitan recoger las necesidades y expectativas de las personas?</td>
                          <td>
                            <small>
                            No se cuenta con un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            1: Se está elaborando un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            2: El diseño metodológico para recoger las necesidades y expectativas de las personas se encuentra aprobado. <br>
                            3: Se cumple con lo definido en el criterio anterior. Adicionalmente, se cuenta con un documento que muestre los resultados sobre la aplicación del diseño metodológico.
                          </small>
                        </td>
                          <td>3</td>
                          <td>
                            <input type="text" class="form-control" id="numExp" placeholder="0.0" value="2.5">
                          </td>
                          <td>                
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Describa la observación"></textarea>
                          </td>
                          <td>
                            <span class="badge badge-success">2.5</span>
                          </td>
                          <td>
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Acción de mejora"></textarea>
                          </td>
                      </tr>
                      <tr>
                          <td>3.2</td>
                          <td>¿Se cuenta con un diseño metodológico, que permitan recoger las necesidades y expectativas de las personas?</td>
                          <td>
                            <small>
                            No se cuenta con un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            1: Se está elaborando un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            2: El diseño metodológico para recoger las necesidades y expectativas de las personas se encuentra aprobado. <br>
                            3: Se cumple con lo definido en el criterio anterior. Adicionalmente, se cuenta con un documento que muestre los resultados sobre la aplicación del diseño metodológico.
                          </small>
                          </td>
                          <td>3</td>
                          <td>
                            <input type="text" class="form-control" id="numExp" placeholder="0.0" value="2.5">
                          </td>
                          <td>                
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Describa la observación"></textarea>
                          </td>
                          <td>
                            <span class="badge badge-success">2.5</span>
                          </td>
                          <td>
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Acción de mejora"></textarea>
                          </td>
                      </tr>
                      <tr>
                          <td>3.3</td>
                          <td>¿Se cuenta con un diseño metodológico, que permitan recoger las necesidades y expectativas de las personas?</td>
                          <td>
                            <small>
                            No se cuenta con un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            1: Se está elaborando un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            2: El diseño metodológico para recoger las necesidades y expectativas de las personas se encuentra aprobado. <br>
                            3: Se cumple con lo definido en el criterio anterior. Adicionalmente, se cuenta con un documento que muestre los resultados sobre la aplicación del diseño metodológico.
                          </small>
                        </td>
                          <td>3</td>
                          <td>
                            <input type="text" class="form-control" id="numExp" placeholder="0.0" value="2.5">
                          </td>
                          <td>                
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Describa la observación"></textarea>
                          </td>
                          <td>
                            <span class="badge badge-success">2.5</span>
                          </td>
                          <td>
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Acción de mejora"></textarea>
                          </td>
                      </tr> 
                      <tr>
                          <td>3.4</td>
                          <td>¿Se cuenta con un diseño metodológico, que permitan recoger las necesidades y expectativas de las personas?</td>
                          <td>
                            <small>
                            No se cuenta con un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            1: Se está elaborando un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            2: El diseño metodológico para recoger las necesidades y expectativas de las personas se encuentra aprobado. <br>
                            3: Se cumple con lo definido en el criterio anterior. Adicionalmente, se cuenta con un documento que muestre los resultados sobre la aplicación del diseño metodológico.
                          </small>
                        </td>
                          <td>3</td>
                          <td>
                            <input type="text" class="form-control" id="numExp" placeholder="0.0" value="2.5">
                          </td>
                          <td>                
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Describa la observación"></textarea>
                          </td>
                          <td>
                            <span class="badge badge-success">2.5</span>
                          </td>
                          <td>
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Acción de mejora"></textarea>
                          </td>
                      </tr> 
                      <tr>
                          <td>3.5</td>
                          <td>¿Se cuenta con un diseño metodológico, que permitan recoger las necesidades y expectativas de las personas?</td>
                          <td>
                            <small>
                            No se cuenta con un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            1: Se está elaborando un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            2: El diseño metodológico para recoger las necesidades y expectativas de las personas se encuentra aprobado. <br>
                            3: Se cumple con lo definido en el criterio anterior. Adicionalmente, se cuenta con un documento que muestre los resultados sobre la aplicación del diseño metodológico.
                          </small>
                        </td>
                          <td>3</td>
                          <td>
                            <input type="text" class="form-control" id="numExp" placeholder="0.0" value="2.5">
                          </td>
                          <td>                
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Describa la observación"></textarea>
                          </td>
                          <td>
                            <span class="badge badge-success">2.5</span>
                          </td>
                          <td>
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Acción de mejora"></textarea>
                          </td>
                      </tr> 
                      <tr>
                          <td>3.6</td>
                          <td>¿Se cuenta con un diseño metodológico, que permitan recoger las necesidades y expectativas de las personas?</td>
                          <td>
                            <small>
                            No se cuenta con un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            1: Se está elaborando un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            2: El diseño metodológico para recoger las necesidades y expectativas de las personas se encuentra aprobado. <br>
                            3: Se cumple con lo definido en el criterio anterior. Adicionalmente, se cuenta con un documento que muestre los resultados sobre la aplicación del diseño metodológico.
                          </small>
                        </td>
                          <td>3</td>
                          <td>
                            <input type="text" class="form-control" id="numExp" placeholder="0.0" value="2.5">
                          </td>
                          <td>                
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Describa la observación"></textarea>
                          </td>
                          <td>
                            <span class="badge badge-success">2.5</span>
                          </td>
                          <td>
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Acción de mejora"></textarea>
                          </td>
                      </tr> 
                      <tr>
                          <td>3.7</td>
                          <td>¿Se cuenta con un diseño metodológico, que permitan recoger las necesidades y expectativas de las personas?</td>
                          <td>
                            <small>
                            No se cuenta con un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            1: Se está elaborando un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            2: El diseño metodológico para recoger las necesidades y expectativas de las personas se encuentra aprobado. <br>
                            3: Se cumple con lo definido en el criterio anterior. Adicionalmente, se cuenta con un documento que muestre los resultados sobre la aplicación del diseño metodológico.
                          </small>
                        </td>
                          <td>3</td>
                          <td>
                            <input type="text" class="form-control" id="numExp" placeholder="0.0" value="2.5">
                          </td>
                          <td>                
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Describa la observación"></textarea>
                          </td>
                          <td>
                            <span class="badge badge-success">2.5</span>
                          </td>
                          <td>
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Acción de mejora"></textarea>
                          </td>
                      </tr> 
                      <tr>
                          <td>3.8</td>
                          <td>¿Se cuenta con un diseño metodológico, que permitan recoger las necesidades y expectativas de las personas?</td>
                          <td>
                            <small>
                            No se cuenta con un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            1: Se está elaborando un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            2: El diseño metodológico para recoger las necesidades y expectativas de las personas se encuentra aprobado. <br>
                            3: Se cumple con lo definido en el criterio anterior. Adicionalmente, se cuenta con un documento que muestre los resultados sobre la aplicación del diseño metodológico.
                          </small>
                        </td>
                          <td>3</td>
                          <td>
                            <input type="text" class="form-control" id="numExp" placeholder="0.0" value="2.5">
                          </td>
                          <td>                
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Describa la observación"></textarea>
                          </td>
                          <td>
                            <span class="badge badge-success">2.5</span>
                          </td>
                          <td>
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Acción de mejora"></textarea>
                          </td>
                      </tr> 
                    </tbody>
                  </table>
                </accordion-group>

                <accordion-group heading="Componente 5: Liderazgo y compromiso de la Alta Dirección">
                  <table class="table table-bordered table-striped table-responsive-sm">
                    <thead>
                        <th>Nro.</th>
                        <th>Práctica desarrollada</th>
                        <th>Guía de Respuesta</th>
                        <th>Puntaje máximo <span class="badge badge-success">12</span></th>
                        <th>Puntaje obtenido <span class="badge badge-warning">7.5</span></th>
                        <th>Observaciones / Evidencia (**)</th>
                        <th>Resultado (%) <span class="badge badge-success">80%</span></th>
                        <th>Acción de mejora</th>
                    </thead>
                    <tbody>
                      <tr>
                          <td>3.1</td>
                          <td>¿Se cuenta con un diseño metodológico, que permitan recoger las necesidades y expectativas de las personas?</td>
                          <td>
                            <small>
                            No se cuenta con un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            1: Se está elaborando un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            2: El diseño metodológico para recoger las necesidades y expectativas de las personas se encuentra aprobado. <br>
                            3: Se cumple con lo definido en el criterio anterior. Adicionalmente, se cuenta con un documento que muestre los resultados sobre la aplicación del diseño metodológico.
                          </small>
                        </td>
                          <td>3</td>
                          <td>
                            <input type="text" class="form-control" id="numExp" placeholder="0.0" value="2.5">
                          </td>
                          <td>                
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Describa la observación"></textarea>
                          </td>
                          <td>
                            <span class="badge badge-success">2.5</span>
                          </td>
                          <td>
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Acción de mejora"></textarea>
                          </td>
                      </tr>
                      <tr>
                          <td>3.2</td>
                          <td>¿Se cuenta con un diseño metodológico, que permitan recoger las necesidades y expectativas de las personas?</td>
                          <td>
                            <small>
                            No se cuenta con un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            1: Se está elaborando un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            2: El diseño metodológico para recoger las necesidades y expectativas de las personas se encuentra aprobado. <br>
                            3: Se cumple con lo definido en el criterio anterior. Adicionalmente, se cuenta con un documento que muestre los resultados sobre la aplicación del diseño metodológico.
                          </small>
                          </td>
                          <td>3</td>
                          <td>
                            <input type="text" class="form-control" id="numExp" placeholder="0.0" value="2.5">
                          </td>
                          <td>                
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Describa la observación"></textarea>
                          </td>
                          <td>
                            <span class="badge badge-success">2.5</span>
                          </td>
                          <td>
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Acción de mejora"></textarea>
                          </td>
                      </tr>
                      <tr>
                          <td>3.3</td>
                          <td>¿Se cuenta con un diseño metodológico, que permitan recoger las necesidades y expectativas de las personas?</td>
                          <td>
                            <small>
                            No se cuenta con un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            1: Se está elaborando un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            2: El diseño metodológico para recoger las necesidades y expectativas de las personas se encuentra aprobado. <br>
                            3: Se cumple con lo definido en el criterio anterior. Adicionalmente, se cuenta con un documento que muestre los resultados sobre la aplicación del diseño metodológico.
                          </small>
                        </td>
                          <td>3</td>
                          <td>
                            <input type="text" class="form-control" id="numExp" placeholder="0.0" value="2.5">
                          </td>
                          <td>                
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Describa la observación"></textarea>
                          </td>
                          <td>
                            <span class="badge badge-success">2.5</span>
                          </td>
                          <td>
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Acción de mejora"></textarea>
                          </td>
                      </tr> 
                      <tr>
                          <td>3.4</td>
                          <td>¿Se cuenta con un diseño metodológico, que permitan recoger las necesidades y expectativas de las personas?</td>
                          <td>
                            <small>
                            No se cuenta con un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            1: Se está elaborando un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            2: El diseño metodológico para recoger las necesidades y expectativas de las personas se encuentra aprobado. <br>
                            3: Se cumple con lo definido en el criterio anterior. Adicionalmente, se cuenta con un documento que muestre los resultados sobre la aplicación del diseño metodológico.
                          </small>
                        </td>
                          <td>3</td>
                          <td>
                            <input type="text" class="form-control" id="numExp" placeholder="0.0" value="2.5">
                          </td>
                          <td>                
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Describa la observación"></textarea>
                          </td>
                          <td>
                            <span class="badge badge-success">2.5</span>
                          </td>
                          <td>
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Acción de mejora"></textarea>
                          </td>
                      </tr> 
                      <tr>
                          <td>3.5</td>
                          <td>¿Se cuenta con un diseño metodológico, que permitan recoger las necesidades y expectativas de las personas?</td>
                          <td>
                            <small>
                            No se cuenta con un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            1: Se está elaborando un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            2: El diseño metodológico para recoger las necesidades y expectativas de las personas se encuentra aprobado. <br>
                            3: Se cumple con lo definido en el criterio anterior. Adicionalmente, se cuenta con un documento que muestre los resultados sobre la aplicación del diseño metodológico.
                          </small>
                        </td>
                          <td>3</td>
                          <td>
                            <input type="text" class="form-control" id="numExp" placeholder="0.0" value="2.5">
                          </td>
                          <td>                
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Describa la observación"></textarea>
                          </td>
                          <td>
                            <span class="badge badge-success">2.5</span>
                          </td>
                          <td>
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Acción de mejora"></textarea>
                          </td>
                      </tr> 
                      <tr>
                          <td>3.6</td>
                          <td>¿Se cuenta con un diseño metodológico, que permitan recoger las necesidades y expectativas de las personas?</td>
                          <td>
                            <small>
                            No se cuenta con un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            1: Se está elaborando un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            2: El diseño metodológico para recoger las necesidades y expectativas de las personas se encuentra aprobado. <br>
                            3: Se cumple con lo definido en el criterio anterior. Adicionalmente, se cuenta con un documento que muestre los resultados sobre la aplicación del diseño metodológico.
                          </small>
                        </td>
                          <td>3</td>
                          <td>
                            <input type="text" class="form-control" id="numExp" placeholder="0.0" value="2.5">
                          </td>
                          <td>                
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Describa la observación"></textarea>
                          </td>
                          <td>
                            <span class="badge badge-success">2.5</span>
                          </td>
                          <td>
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Acción de mejora"></textarea>
                          </td>
                      </tr> 
                      <tr>
                          <td>3.7</td>
                          <td>¿Se cuenta con un diseño metodológico, que permitan recoger las necesidades y expectativas de las personas?</td>
                          <td>
                            <small>
                            No se cuenta con un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            1: Se está elaborando un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            2: El diseño metodológico para recoger las necesidades y expectativas de las personas se encuentra aprobado. <br>
                            3: Se cumple con lo definido en el criterio anterior. Adicionalmente, se cuenta con un documento que muestre los resultados sobre la aplicación del diseño metodológico.
                          </small>
                        </td>
                          <td>3</td>
                          <td>
                            <input type="text" class="form-control" id="numExp" placeholder="0.0" value="2.5">
                          </td>
                          <td>                
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Describa la observación"></textarea>
                          </td>
                          <td>
                            <span class="badge badge-success">2.5</span>
                          </td>
                          <td>
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Acción de mejora"></textarea>
                          </td>
                      </tr> 
                      <tr>
                          <td>3.8</td>
                          <td>¿Se cuenta con un diseño metodológico, que permitan recoger las necesidades y expectativas de las personas?</td>
                          <td>
                            <small>
                            No se cuenta con un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            1: Se está elaborando un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            2: El diseño metodológico para recoger las necesidades y expectativas de las personas se encuentra aprobado. <br>
                            3: Se cumple con lo definido en el criterio anterior. Adicionalmente, se cuenta con un documento que muestre los resultados sobre la aplicación del diseño metodológico.
                          </small>
                        </td>
                          <td>3</td>
                          <td>
                            <input type="text" class="form-control" id="numExp" placeholder="0.0" value="2.5">
                          </td>
                          <td>                
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Describa la observación"></textarea>
                          </td>
                          <td>
                            <span class="badge badge-success">2.5</span>
                          </td>
                          <td>
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Acción de mejora"></textarea>
                          </td>
                      </tr> 
                    </tbody>
                  </table>
                </accordion-group>

                <accordion-group heading="Componente 6: Cultura de calidad">
                  <table class="table table-bordered table-striped table-responsive-sm">
                    <thead>
                        <th>Nro.</th>
                        <th>Práctica desarrollada</th>
                        <th>Guía de Respuesta</th>
                        <th>Puntaje máximo <span class="badge badge-success">12</span></th>
                        <th>Puntaje obtenido <span class="badge badge-warning">7.5</span></th>
                        <th>Observaciones / Evidencia (**)</th>
                        <th>Resultado (%) <span class="badge badge-success">80%</span></th>
                        <th>Acción de mejora</th>
                    </thead>
                    <tbody>
                      <tr>
                          <td>3.1</td>
                          <td>¿Se cuenta con un diseño metodológico, que permitan recoger las necesidades y expectativas de las personas?</td>
                          <td>
                            <small>
                            No se cuenta con un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            1: Se está elaborando un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            2: El diseño metodológico para recoger las necesidades y expectativas de las personas se encuentra aprobado. <br>
                            3: Se cumple con lo definido en el criterio anterior. Adicionalmente, se cuenta con un documento que muestre los resultados sobre la aplicación del diseño metodológico.
                          </small>
                        </td>
                          <td>3</td>
                          <td>
                            <input type="text" class="form-control" id="numExp" placeholder="0.0" value="2.5">
                          </td>
                          <td>                
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Describa la observación"></textarea>
                          </td>
                          <td>
                            <span class="badge badge-success">2.5</span>
                          </td>
                          <td>
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Acción de mejora"></textarea>
                          </td>
                      </tr>
                      <tr>
                          <td>3.2</td>
                          <td>¿Se cuenta con un diseño metodológico, que permitan recoger las necesidades y expectativas de las personas?</td>
                          <td>
                            <small>
                            No se cuenta con un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            1: Se está elaborando un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            2: El diseño metodológico para recoger las necesidades y expectativas de las personas se encuentra aprobado. <br>
                            3: Se cumple con lo definido en el criterio anterior. Adicionalmente, se cuenta con un documento que muestre los resultados sobre la aplicación del diseño metodológico.
                          </small>
                          </td>
                          <td>3</td>
                          <td>
                            <input type="text" class="form-control" id="numExp" placeholder="0.0" value="2.5">
                          </td>
                          <td>                
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Describa la observación"></textarea>
                          </td>
                          <td>
                            <span class="badge badge-success">2.5</span>
                          </td>
                          <td>
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Acción de mejora"></textarea>
                          </td>
                      </tr>
                      <tr>
                          <td>3.3</td>
                          <td>¿Se cuenta con un diseño metodológico, que permitan recoger las necesidades y expectativas de las personas?</td>
                          <td>
                            <small>
                            No se cuenta con un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            1: Se está elaborando un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            2: El diseño metodológico para recoger las necesidades y expectativas de las personas se encuentra aprobado. <br>
                            3: Se cumple con lo definido en el criterio anterior. Adicionalmente, se cuenta con un documento que muestre los resultados sobre la aplicación del diseño metodológico.
                          </small>
                        </td>
                          <td>3</td>
                          <td>
                            <input type="text" class="form-control" id="numExp" placeholder="0.0" value="2.5">
                          </td>
                          <td>                
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Describa la observación"></textarea>
                          </td>
                          <td>
                            <span class="badge badge-success">2.5</span>
                          </td>
                          <td>
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Acción de mejora"></textarea>
                          </td>
                      </tr> 
                      <tr>
                          <td>3.4</td>
                          <td>¿Se cuenta con un diseño metodológico, que permitan recoger las necesidades y expectativas de las personas?</td>
                          <td>
                            <small>
                            No se cuenta con un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            1: Se está elaborando un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            2: El diseño metodológico para recoger las necesidades y expectativas de las personas se encuentra aprobado. <br>
                            3: Se cumple con lo definido en el criterio anterior. Adicionalmente, se cuenta con un documento que muestre los resultados sobre la aplicación del diseño metodológico.
                          </small>
                        </td>
                          <td>3</td>
                          <td>
                            <input type="text" class="form-control" id="numExp" placeholder="0.0" value="2.5">
                          </td>
                          <td>                
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Describa la observación"></textarea>
                          </td>
                          <td>
                            <span class="badge badge-success">2.5</span>
                          </td>
                          <td>
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Acción de mejora"></textarea>
                          </td>
                      </tr> 
                      <tr>
                          <td>3.5</td>
                          <td>¿Se cuenta con un diseño metodológico, que permitan recoger las necesidades y expectativas de las personas?</td>
                          <td>
                            <small>
                            No se cuenta con un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            1: Se está elaborando un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            2: El diseño metodológico para recoger las necesidades y expectativas de las personas se encuentra aprobado. <br>
                            3: Se cumple con lo definido en el criterio anterior. Adicionalmente, se cuenta con un documento que muestre los resultados sobre la aplicación del diseño metodológico.
                          </small>
                        </td>
                          <td>3</td>
                          <td>
                            <input type="text" class="form-control" id="numExp" placeholder="0.0" value="2.5">
                          </td>
                          <td>                
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Describa la observación"></textarea>
                          </td>
                          <td>
                            <span class="badge badge-success">2.5</span>
                          </td>
                          <td>
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Acción de mejora"></textarea>
                          </td>
                      </tr> 
                      <tr>
                          <td>3.6</td>
                          <td>¿Se cuenta con un diseño metodológico, que permitan recoger las necesidades y expectativas de las personas?</td>
                          <td>
                            <small>
                            No se cuenta con un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            1: Se está elaborando un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            2: El diseño metodológico para recoger las necesidades y expectativas de las personas se encuentra aprobado. <br>
                            3: Se cumple con lo definido en el criterio anterior. Adicionalmente, se cuenta con un documento que muestre los resultados sobre la aplicación del diseño metodológico.
                          </small>
                        </td>
                          <td>3</td>
                          <td>
                            <input type="text" class="form-control" id="numExp" placeholder="0.0" value="2.5">
                          </td>
                          <td>                
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Describa la observación"></textarea>
                          </td>
                          <td>
                            <span class="badge badge-success">2.5</span>
                          </td>
                          <td>
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Acción de mejora"></textarea>
                          </td>
                      </tr> 
                      <tr>
                          <td>3.7</td>
                          <td>¿Se cuenta con un diseño metodológico, que permitan recoger las necesidades y expectativas de las personas?</td>
                          <td>
                            <small>
                            No se cuenta con un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            1: Se está elaborando un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            2: El diseño metodológico para recoger las necesidades y expectativas de las personas se encuentra aprobado. <br>
                            3: Se cumple con lo definido en el criterio anterior. Adicionalmente, se cuenta con un documento que muestre los resultados sobre la aplicación del diseño metodológico.
                          </small>
                        </td>
                          <td>3</td>
                          <td>
                            <input type="text" class="form-control" id="numExp" placeholder="0.0" value="2.5">
                          </td>
                          <td>                
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Describa la observación"></textarea>
                          </td>
                          <td>
                            <span class="badge badge-success">2.5</span>
                          </td>
                          <td>
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Acción de mejora"></textarea>
                          </td>
                      </tr> 
                      <tr>
                          <td>3.8</td>
                          <td>¿Se cuenta con un diseño metodológico, que permitan recoger las necesidades y expectativas de las personas?</td>
                          <td>
                            <small>
                            No se cuenta con un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            1: Se está elaborando un diseño metodológico para recoger las necesidades y expectativas de las personas. <br>
                            2: El diseño metodológico para recoger las necesidades y expectativas de las personas se encuentra aprobado. <br>
                            3: Se cumple con lo definido en el criterio anterior. Adicionalmente, se cuenta con un documento que muestre los resultados sobre la aplicación del diseño metodológico.
                          </small>
                        </td>
                          <td>3</td>
                          <td>
                            <input type="text" class="form-control" id="numExp" placeholder="0.0" value="2.5">
                          </td>
                          <td>                
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Describa la observación"></textarea>
                          </td>
                          <td>
                            <span class="badge badge-success">2.5</span>
                          </td>
                          <td>
                            <textarea required id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Acción de mejora"></textarea>
                          </td>
                      </tr> 
                    </tbody>
                  </table>
                </accordion-group>
              
                <accordion-group heading="CUADRO DE AUTODIAGNOSTICO">
                  <div class="chart-wrapper">
                    <canvas baseChart class="chart"
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [legend]="barChartLegend"
                    [chartType]="barChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
                  </div>
                </accordion-group>
              </accordion>
            </div>
          </div>
        </div>   
        <div class="card-footer p-4">
          <div class="row">
            <div class="col-4">
            </div>
            <div class="col-4">
              <button type="button" class="btn btn-block btn-outline-primary" (click) ="confirmarGuardar();">Guardar</button>
            </div>
            <div class="col-4">
              <button type="button" class="btn btn-block btn-success" (click) ="confirmarFinalizar();">Finalizar</button>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>  






  