<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="text-center">
        <img src="../../../assets/img/brand/logo-pcm.png" width="500px" class="rounded" alt="...">
      </div>
      <p></p>
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form>
                  <h1>Ingresar al sistema</h1>
                  <p class="text-muted">Ingrese sus credenciales</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Usuario" autocomplete="username" required>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="Contraseña" autocomplete="current-password" required>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <a type="button" href="#/dashboard" class="btn btn-primary px-4">Ingresar</a>
                    </div>
                    <div class="col-6 text-right">
                      <button type="button" class="btn btn-link px-0">Olvidé mi clave</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
              <div class="card-body text-center">
                <div>
                  <h2>SINTEC 1.0</h2>
                  <p></p>
                  <p>SISTEMA INFORMÁTICO PARA LA SUPERVISIÓN Y MONITOREO DE LA IMPLEMENTACIÓN DE LA NORMA TÉCNICA PARA LA GESTIÓN DE LA CALIDAD DE SERVICIOS EN EL SECTOR PUBLICO</p>
                  <!-- <button type="button" class="btn btn-primary active mt-3">Register Now!</button> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
