<div class="animated fadeIn">  
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <small>Formulario de</small>
            <strong>Búsqueda de Integrante del Equipo de Trabajo</strong>
          </div>
          <div class="card-body">
            <div class="row">
                <div class="form-group col-sm-4">
                  <label for="ccyear">Entidad</label>
                  <select class="form-control" id="ccmonth" [(ngModel)]="estadoUser">
                  <option>Seleccione</option>
                  <option>Presidencia del Concejo de Ministros</option>
                  <option>Ministerio de Cultura</option>
                  <option>Ministerio de Educación</option>
                  <option>Biblioteca Nacional</option>
                  </select>
                </div>
                <div class="form-group col-sm-4">
                  <label for="ccmonth">Documento de Identidad</label>
                  <input type="text" class="form-control" id="ccnumber" [(ngModel)]="dniuser" (keypress)="validar_campo($event)" placeholder="Documento de identidad" maxlength = "8">
                </div>
                <div class="form-group col-sm-4">
                  <label for="ccyear">Nombre de Usuario</label>
                  <input type="text" class="form-control" id="ccnumber" [(ngModel)]="username" placeholder="Nombre de usuario">
                </div>                
            </div>
            <div class="row">
                <div class="form-group col-sm-4">
                  <label for="ccyear">Funcion</label>
                  <input type="text" class="form-control" id="ccfuncion" [(ngModel)]="funcion" placeholder="Función">
                </div>
                <div class="form-group col-sm-4">
                  <label for="ccmonth">Nombres</label>
                  <input type="text" class="form-control" id="ccnumber" [(ngModel)]="nombreUser" placeholder="Nombres">
                </div>
                <div class="form-group col-sm-4">
                  <label for="ccyear">Apellido Paterno</label>
                  <input type="text" class="form-control" id="ccnumber" [(ngModel)]="apePaternoUser" placeholder="Apellido paterno">
                </div>                
            </div>
            <div class="card-footer">
              <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Buscar</button>
              <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Restablecer</button>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <!-- <div class="card-header">
              <i class="fa fa-align-justify"></i> Combined All Table
            </div> -->
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-12">
                        <small>Listado de</small>
                        <strong>Integrantes del Equipo de trabajo</strong>
                    </div>                    
                </div>
              <!--  <div class="row">                    
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Agregar nuevo integrante</button>
                    </div>
                </div> -->
            </div>
            <div class="card-body" >
              <table class="table table-bordered table-striped table-responsive-sm">
                <thead>
                    <th>Nro.</th>
                    <td>Entidad</td>
                    <th>D.N.I.</th>                    
                    <th>Función</th>
                    <th>Nombres y apellidos</th>
                    <th>Usuario </th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Ministerio de Energía y Minas</td>
                        <td>41522554</td>                        
                        <td>Coordinador</td>
                        <td>Rosa Cecilia Robles Rodríguez</td>
                        <td>rrobles</td>
                        <td><span class="badge badge-success">Activo</span></td>
                        <td>
                          <button type="submit" class="btn btn-sm btn-primary"><i class="fa icon-eye"></i> </button>
                          <button type="submit" class="btn btn-sm btn-warning"><i class="fa cil-highligt"></i> </button>
                          <button type="reset" class="btn btn-sm btn-success"><i class="fa cil-check"></i> </button>                         
                        </td>
                    </tr> 
                    <tr>
                        <td>2</td>
                        <td>Ministerio de Energía y Minas</td>
                        <td>41522554</td>
                        <td>Supervisor</td>                        
                        <td>Roberto Carlos Alameda Pérez</td>
                        <td>ralameda</td>
                        <td><span class="badge badge-success">Activo</span></td>
                        <td>
                          <button type="submit" class="btn btn-sm btn-primary"><i class="fa icon-eye"></i> </button>
                          <button type="submit" class="btn btn-sm btn-warning"><i class="fa cil-highligt"></i> </button>
                          <button type="reset" class="btn btn-sm btn-success"><i class="fa cil-check"></i> </button>                        
                        </td>
                    </tr> 
                    <tr>
                        <td>3</td>
                        <td>Ministerio de Energía y Minas</td>
                        <td>41522554</td>
                        <td>Analista</td>                        
                        <td>Julia Montenegro Rosas</td>
                        <td>jmontenegro</td>
                        <td><span class="badge badge-success">Activo</span></td>
                        <td>
                          <button type="submit" class="btn btn-sm btn-primary"><i class="fa icon-eye"></i> </button>
                          <button type="submit" class="btn btn-sm btn-warning"><i class="fa cil-highligt"></i> </button>
                          <button type="reset" class="btn btn-sm btn-success"><i class="fa cil-check"></i> </button>                         
                        </td>
                    </tr>                       
                    <tr>
                        <td>4</td>
                        <td>Ministerio de Energía y Minas</td>
                        <td>41522554</td>
                        <td>Analista</td>
                        <td>José Manuel Cuya Yaguana</td>
                        <td>amachuca</td>
                        <td><span class="badge badge-success">Activo</span></td>
                        <td>
                          <button type="submit" class="btn btn-sm btn-primary"><i class="fa icon-eye"></i> </button>
                          <button type="submit" class="btn btn-sm btn-warning"><i class="fa cil-highligt"></i> </button>
                          <button type="reset" class="btn btn-sm btn-success"><i class="fa cil-check"></i> </button>                         
                        </td>
                    </tr> 
                    <tr>
                        <td>5</td>
                        <td>Ministerio de Relaciones Exteriores</td>  
                        <td>41522554</td>                        
                        <td>Analista</td>
                        <td>Rojas Sandoval</td>
                        <td>arojas</td>
                        <td><span class="badge badge-success">Activo</span></td>
                        <td>
                          <button type="submit" class="btn btn-sm btn-primary"><i class="fa icon-eye"></i> </button>
                          <button type="submit" class="btn btn-sm btn-warning"><i class="fa cil-highligt"></i> </button>
                          <button type="reset" class="btn btn-sm btn-success"><i class="fa cil-check"></i> </button>                          
                        </td>
                    </tr>  
                </tbody>
              </table>              
              <div class="card-body">
                <div class="row">
                    <div class="col-xs-12 col-12 d-sm-down-none">
                      <pagination ng-reflect-total-items="64" ng-reflect-model="4" class="ng-untouched ng-pristine ng-valid">
                        <ul class="pagination" ng-reflect-ng-class="">
                            <li class="pagination-prev page-item"><a href="" class="page-link">Anterior</a></li>
                            <li class="pagination-page page-item active"><a href="" class="page-link">1</a></li>
                            <li class="pagination-page page-item"><a href="" class="page-link">2</a></li>
                            <li class="pagination-page page-item"><a href="" class="page-link">3</a></li>
                            <li class="pagination-page page-item"><a href="" class="page-link">4</a></li>
                            <li class="pagination-page page-item"><a href="" class="page-link">5</a></li>
                            <li class="pagination-page page-item"><a href="" class="page-link">6</a></li>
                            <li class="pagination-page page-item"><a href="" class="page-link">7</a></li>
                            <li class="pagination-next page-item"><a href="" class="page-link">Siguiente</a></li>
                        </ul>
                    </pagination>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
