<div class="animated fadeIn">  
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <small>Formulario de</small>
                <strong>Búsqueda de Criterio de priorización</strong>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="form-group col-sm-4">
                      <label for="ccyear">Entidad</label>
                      <select class="form-control" id="ccmonth" [(ngModel)]="estadoUser">
                      <option>Seleccione</option>
                      <option>Presidencia del Concejo de Ministros</option>
                      <option>Ministerio de Cultura</option>
                      <option>Ministerio de Educación</option>
                      <option>Biblioteca Nacional</option>
                      </select>
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="ccmonth">Criterio de Priorización</label>
                        <input type="text" class="form-control" id="ccriterio" [(ngModel)]="criterio" placeholder="Criterio">
                    </div> 
                    <div class="form-group col-sm-2">
                      <label for="ccondicion">Condición</label>
                      <select class="form-control" id="ccondicion" [(ngModel)]="condiciom">
                      <option>Seleccione</option>
                      <option>Uso obligatorio</option>
                      <option>Adicionales</option>                    
                      </select>
                    </div>                   
                </div>
                <!--<div class="row">
                    <div class="form-group col-sm-4">
                        <label for="ccondicion">Condición</label>
                        <select class="form-control" id="ccondicion" [(ngModel)]="condiciom">
                        <option>Seleccione</option>
                        <option>Uso obligatorio</option>
                        <option>Adicionales</option>                    
                        </select>
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="ccyear">Fecha de Registro (Desde)</label>
                        <input type="date" [(ngModel)]="dateDesde" class="form-control" id="ccnumber" >
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="ccyear">Fecha de Registro (Hasta)</label>
                        <input type="date"  [(ngModel)]="dateHasta" class="form-control" id="ccnumber" >
                    </div>               
                </div>-->
            <!--<div class="row">
                <div class="form-group col-sm-4">
                  <label for="ccmonth">Nombres</label>
                  <input type="text" class="form-control" id="ccnumber" [(ngModel)]="nombreUser" placeholder="Nombres">
                </div>
                <div class="form-group col-sm-4">
                  <label for="ccyear">Apellido Paterno</label>
                  <input type="text" class="form-control" id="ccnumber" [(ngModel)]="apePaternoUser" placeholder="Apellido paterno">
                </div> -->                
            </div>
            <div class="card-footer">
              <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Buscar</button>
              <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Restablecer</button>
            </div>       
        </div>
      </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <!-- <div class="card-header">
              <i class="fa fa-align-justify"></i> Combined All Table
            </div> -->
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-12">
                        <small>Listado de</small>
                        <strong>Criterios de Priorización</strong>
                    </div>                    
                </div>
                <!--<div class="row">                    
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Agregar nuevo criterio</button>
                    </div>
                </div>-->
            </div>
            <div class="card-body" >
              <table class="table table-bordered table-striped table-responsive-sm">
                <thead>
                    <th>Nro.</th>
                    <th>Entidad</th>
                    <th>Criterio de Priorización</th>                    
                    <th>Condición</th>
                    <th>Peso</th>                    
                    <th>Estado</th>
                    <!--<th>Acciones</th>-->
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Ministerio de Energía y Minas</td>
                        <td>Impacto en la satisfacción de las personas</td>                        
                        <td>Uso obligatorio</td>
                        <td>25</td>
                        <td><span class="badge badge-success">Activo</span></td>
                        <!--<td>                          
                          <button type="submit" class="btn btn-sm btn-warning"><i class="fa icon-pencil"></i> </button>                          
                        </td>-->
                    </tr> 
                    <tr>
                        <td>2</td>
                        <td>Ministerio de Energía y Minas</td>
                        <td>Demanda del servicio</td>
                        <td>Uso obligatorio</td>                        
                        <td>10</td>
                        <td><span class="badge badge-success">Activo</span></td>
                        <!--<td>                          
                          <button type="submit" class="btn btn-sm btn-warning"><i class="fa icon-pencil"></i> </button>                          
                        </td>-->
                    </tr> 
                    <tr>
                        <td>3</td>
                        <td>Ministerio de Energía y Minas</td>
                        <td>Grado de vinculación del servicio con los objetivos estratégicos</td>
                        <td>Uso obligatorio</td>                        
                        <td>15</td>
                        <td><span class="badge badge-success">Activo</span></td>
                        <!--<td>
                          <button type="submit" class="btn btn-sm btn-warning"><i class="fa icon-pencil"></i> </button>                          
                        </td>-->
                    </tr>                       
                    <tr>
                        <td>4</td>
                        <td>Ministerio de Energía y Minas</td>
                        <td>Grado de articulación con algún programa presupuestal (PPoR o PPI17)</td>
                        <td>Uso obligatorio</td>
                        <td>10</td>
                        <td><span class="badge badge-success">Activo</span></td>
                        <!--<td>                          
                          <button type="submit" class="btn btn-sm btn-warning"><i class="fa icon-pencil"></i> </button>                          
                        </td>-->
                    </tr> 
                    <tr>
                        <td>5</td>
                        <td>Ministerio de Energía y Minas</td>
                        <td>Grado de avance en la Implementación de la gestión por procesos18 en la cadena de valor para la provisión del servicio</td>                        
                        <td>Uso obligatorio</td>
                        <td>15</td>
                        <td><span class="badge badge-success">Activo</span></td>
                        <!--<td>                          
                          <button type="submit" class="btn btn-sm btn-warning"><i class="fa icon-pencil"></i> </button>                          
                        </td>-->
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Ministerio de Energía y Minas</td> 
                        <td>Grado de Impacto en los procesos</td>                        
                        <td></td>
                        <td>5</td>
                        <td><span class="badge badge-success">Activo</span></td>
                        <!--<td>                          
                          <button type="submit" class="btn btn-sm btn-warning"><i class="fa icon-pencil"></i> </button>
                          <button type="reset" class="btn btn-sm btn-danger"><i class="fa icon-trash"></i> </button>
                        </td>-->
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Ministerio de Relaciones Exteriores</td> 
                        <td>Grado de impacto en los tiempos de espera</td>                        
                        <td></td>
                        <td>5</td>
                        <td><span class="badge badge-success">Activo</span></td>
                        <!--<td>                          
                          <button type="submit" class="btn btn-sm btn-warning"><i class="fa icon-pencil"></i> </button>
                          <button type="reset" class="btn btn-sm btn-danger"><i class="fa icon-trash"></i> </button>
                        </td>-->
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>Ministerio de Relaciones Exteriores</td> 
                        <td>Pertenencia a una cadena de servicio</td>                        
                        <td></td>
                        <td>10</td>
                        <td><span class="badge badge-success">Activo</span></td>
                        <!--<td>                          
                          <button type="submit" class="btn btn-sm btn-warning"><i class="fa icon-pencil"></i> </button>
                          <button type="reset" class="btn btn-sm btn-danger"><i class="fa icon-trash"></i> </button>
                        </td>
                      -->
                    </tr>        
                </tbody>
              </table>              
              <div class="card-body">
                <div class="row">
                    <div class="col-xs-12 col-12 d-sm-down-none">
                      <pagination ng-reflect-total-items="64" ng-reflect-model="4" class="ng-untouched ng-pristine ng-valid">
                        <ul class="pagination" ng-reflect-ng-class="">
                            <li class="pagination-prev page-item"><a href="" class="page-link">Anterior</a></li>
                            <li class="pagination-page page-item active"><a href="" class="page-link">1</a></li>
                            <li class="pagination-page page-item"><a href="" class="page-link">2</a></li>
                            <li class="pagination-page page-item"><a href="" class="page-link">3</a></li>
                            <li class="pagination-page page-item"><a href="" class="page-link">4</a></li>
                            <li class="pagination-page page-item"><a href="" class="page-link">5</a></li>
                            <li class="pagination-page page-item"><a href="" class="page-link">6</a></li>
                            <li class="pagination-page page-item"><a href="" class="page-link">7</a></li>
                            <li class="pagination-next page-item"><a href="" class="page-link">Siguiente</a></li>
                        </ul>
                    </pagination>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>

