<div class="animated fadeIn">

    <div class="container">
        <div class="row">
            <div class="col-md-12 mx-auto">
                <div class="card mx-12">
                    <div class="card-body p-12">
                        <h1>Criterios de Priorización</h1>
                        <p class="text-muted">Determinar Criterios de Prioriaciòn y Asignar Pesos</p>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>        

    <div class="container">
      <div class="row">
        <div class="col-md-12 mx-auto">
          <div class="card mx-12">
            <div class="card-body p-12">                                       
                <form class="was-validated">
                    <h4>Criterios de Selección de Uso Obligatorio</h4>                                
                        <div class="row" >
                            <table class="table table-bordered table-striped table-responsive-sm">
                                <thead>
                                    <th>Nro.</th>                                                               
                                    <th>Criterio de Selección</th>
                                    <th>Se usará</th>                                           
                                    <th>Peso</th>
                                    <th>Acciones</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>                                                                       
                                        <td>Impacto en la satisfacción de las personas</td>  
                                        <td> 
                                          <div class="form-check">  
                                              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">                                          
                                          </div>
                                        </td>                                          
                                        <td><input type="text" class="form-control" placeholder="Peso" style="width: 80px;" [maxlength] = "3" [minlength] = "1" autocomplete="xx" required></td>
                                        <td>
                                            <button type="submit" class="btn btn-sm btn-warning"><i class="fa icon-pencil"></i> </button>
                                        </td>
                                    </tr>  
                                    <tr>
                                        <td>2</td>                                                                       
                                        <td>Demanda del servicio</td>   
                                        <td> 
                                          <div class="form-check">  
                                              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">                                          
                                          </div>
                                        </td>                                          
                                        <td><input type="text" class="form-control" placeholder="Peso" style="width: 80px;" [maxlength] = "3" [minlength] = "1" autocomplete="xx" required></td>
                                        <td>
                                            <button type="submit" class="btn btn-sm btn-warning"><i class="fa icon-pencil"></i> </button>
                                        </td>
                                    </tr>  
                                    <tr>
                                        <td>3</td>                                                                       
                                        <td>Grado de vinculación del servicio con los objetivos estratégicos</td>                                            
                                        <td> 
                                          <div class="form-check">  
                                              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">                                          
                                          </div>
                                        </td> 
                                        <td><input type="text" class="form-control" placeholder="Peso" style="width: 80px;" [maxlength] = "3" [minlength] = "1" autocomplete="xx" required></td>
                                        <td>
                                            <button type="submit" class="btn btn-sm btn-warning"><i class="fa icon-pencil"></i> </button>
                                        </td>
                                    </tr>  
                                    <tr>
                                        <td>4</td>                                                                       
                                        <td>Grado de articulación con algún programa presupuestal (PPoR o PPI17)</td>                                            
                                        <td> 
                                          <div class="form-check">  
                                              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">                                          
                                          </div>
                                        </td> 
                                        <td><input type="text" class="form-control" placeholder="Peso" style="width: 80px;" [maxlength] = "3" [minlength] = "1" autocomplete="xx" required></td>
                                        <td>
                                            <button type="submit" class="btn btn-sm btn-warning"><i class="fa icon-pencil"></i> </button>
                                        </td>
                                    </tr>  
                                    <tr>
                                        <td>5</td>                                                                       
                                        <td>Grado de avance en la Implementación de la gestión por procesos18 en la cadena de valor para la provisión del servicio</td>                                            
                                        <td> 
                                          <div class="form-check">  
                                              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">                                          
                                          </div>
                                        </td> 
                                        <td><input type="text" class="form-control" placeholder="Peso" style="width: 80px;" [maxlength] = "3" [minlength] = "1" autocomplete="xx" required></td>
                                        <td>
                                            <button type="submit" class="btn btn-sm btn-warning"><i class="fa icon-pencil"></i> </button>
                                        </td>
                                    </tr>  
                                </tbody>
                            </table>                 
                        </div>        
                </form>                       
            </div> 
          </div>
        </div>
      </div>
    </div>

    <div class="container">
        <div class="row">
          <div class="col-md-12 mx-auto">
            <div class="card mx-12">
              <div class="card-body p-12"> 
                      <h4>Criterios de Selección Adicionales</h4>                                
                          <div class="row" [formGroup]="addForm">
                            <a class="btn btn-sm btn-success" style="color:white" (click) ="onAddRowComponent1();"><i class="icon-plus"></i></a>
                            <br>
                              <table class="table table-bordered table-striped table-responsive-sm">
                                  <thead>
                                      <td ALIGN=center></td>
                                      <th>Nro.</th>                                                                                                     
                                      <th>Criterio de Selección</th>                                        
                                      <th>Peso</th>
                                      <th>Acciones</th>
                                  </thead>
                                  <tbody>   
                                      <tr>
                                        <td><a class="btn btn-sm btn-danger" style="color:white" (click) ="onRemoveRowComponent1(index);"><i class="icon-close"></i></a></td>
                                        <td>1</td>                                                                                                             
                                        <td>Grado de Impacto en los procesos</td>
                                        <td>15</td>
                                        <td>                                            
                                            <button type="submit" class="btn btn-sm btn-warning"><i class="fa icon-pencil"></i> </button>
                                        </td>
                                      </tr>  
                                      <tr>
                                        <td>
                                          <a class="btn btn-sm btn-danger" style="color:white" (click) ="onRemoveRowComponent1(index);">
                                            <i class="icon-close"></i>
                                          </a>
                                        </td>
                                        <td>2</td>                                                     
                                        <td>Grado de impacto en los tiempos de espera</td>
                                        <td>10</td>
                                        <td>                                            
                                            <button type="submit" class="btn btn-sm btn-warning"><i class="fa icon-pencil"></i> </button>
                                        </td>
                                      </tr>    
                                      <tr>
                                        <td>
                                          <a class="btn btn-sm btn-block" >
                                            <i class="icon-close"></i>
                                          </a>
                                        </td>
                                        <td>3</td>                                                                                                            
                                        <td>Pertenencia a una cadena de servicio</td>
                                        <td>20</td>
                                        <td>                                            
                                          <button class="btn btn-sm btn-block"><i class="fa icon-pencil"></i> </button>
                                        </td>
                                      </tr> 
                                      <tr>
                                        <td>
                                          <a class="btn btn-sm btn-block">
                                            <i class="icon-close"></i>
                                          </a>
                                        </td>
                                        <td>4</td>                                                                                                             
                                        <td>Grado de avance en la Implementación de la gestión por procesos</td>
                                        <td>5</td>
                                        <td>                                            
                                          <button class="btn btn-sm btn-block"><i class="fa icon-pencil"></i> </button>
                                        </td>
                                      </tr>                                
                                      <tr  *ngFor="let row of addForm.get('rows1')?.controls;let index = index;">
                                        <td><a class="btn btn-sm btn-danger" style="color:white" (click) ="onRemoveRowComponent1(index);"><i class="icon-close"></i></a></td>
                                        <td>{{index + 5}}</td>                                                                      
                                        <td><input [formControl]="row.get('fm_Criterio')" style="width: 320px;" ></td>
                                        <td><input [formControl]="row.get('fm_Peso')" ></td>
                                        <td>                                            
                                            <!--<button type="submit" class="btn btn-sm btn-warning"><i class="fa icon-pencil"></i> </button>-->
                                        </td>
                                      </tr>                                         
                                  </tbody>
                              </table>                 
                          </div>       
              </div>     
  
              <div class="card-footer p-4">
                <div class="row">
                  <div class="col-4">
                  </div>
                  <div class="col-4">
                    <button type="button" class="btn btn-block btn-outline-primary">Guardar</button>
                  </div>
                  <div class="col-4">
                    <button type="button" class="btn btn-block btn-success">Finalizar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>