<div class="animated fadeIn">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mx-auto">
          <div class="card mx-12">
            <div class="card-body p-12">
                <form class="was-validated">
                    <h1>Conductores que impactan en la satisfacción</h1>
                    <p class="text-muted">Incorpore conductores adicionales que respondan a la naturaleza del servicio elegido</p>
                     
                    <hr>
                    <div class="row">
                      <div class="col-8">
                        <h5>Agregar Conductores Adicionales</h5>                        
                      </div>                      
                    </div>    
                    <hr>                    
                    <div class="row">                         
                        <div class="col-md-4 col-xs-12">  
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="icon-map"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Código" autocomplete="Código" required>
                            </div>                             
                        </div>  
                        <div class="col-md-8 col-xs-12">  
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="icon-map"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Denominación del Conductor" autocomplete="Denominación del Conductor" required>
                            </div>                             
                        </div>
                    </div>     
                    <div class="row"> 
                        <div class="col-md-12 col-xs-12">  
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="icon-map"></i></span>
                                </div>
                                <textarea id="textarea-input" name="textarea-input" rows="2" class="form-control" placeholder="Descripción del Conductor"></textarea>
                                <!--<input type="text" class="form-control" placeholder="Descripción del Conductor" autocomplete="Descripción del Conductor" required>-->
                            </div>                             
                        </div>
                    </div>              
                </form>
            </div>  
            <div class="card-footer">
                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Agregar</button>
                <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Restablecer</button>
              </div> 
          </div>
        </div>
      </div>
    </div>
  
    <div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 mx-auto">
            <div class="card mx-12">
                <div class="card-body p-12">
                    <h3>Cuadro de Conductores para el servicio elegido</h3>
                    <div class="card mx-12">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-12">
                                    <!--<small>Servicio : </small>-->
                                    <span class="badge badge-primary">Servicio: </span>
                                    <strong>Proceso de Otorgamiento de Licencia de Funcionamiento
                                    </strong>
                                </div>                    
                            </div>                  
                        </div>
                        <div class="card-body p-12">
                            <form class="was-validated"> 
                                <div class="row" >                                    
                                  <table class="table table-bordered table-striped table-responsive-sm">
                                    <thead>
                                        <th>Nro.</th>
                                        <th>Conductor</th>                          
                                        <th>Descripción</th>
                                        <th>Adicional</th>
                                        <th>Validado</th>
                                        <th style="width:100px;">Acciones</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>01-Trato profesional durante la atención</td>                            
                                            <td><p>Referido a las acciones que realiza el/la servidor/a civil y la actitud que 
                                                manifiesta al momento de brindar los servicios, a través de los diferentes canales de atención con los que cuenta
                                                la entidad.</p></td>
                                            <td></td>
                                            <td><span class="badge badge-success">Sí</span></td>
                                            <td>
                                              <button type="submit" class="btn btn-sm btn-primary"><i class="fa icon-eye"></i> </button>                                                                             
                                            </td>
                                        </tr> 
                                        <tr>
                                            <td>2</td>
                                            <td>02-Información</td>                            
                                            <td><p> Referido a la capacidad de brindar información de manera sencilla, precisa, clara, veraz y oportuna; 
                                                así como establecer una comunicación fluida y transparente acerca de los requisitos, estado y progreso durante 
                                                la prestación de los servicios.</p></td>
                                            <td></td>
                                            <td><span class="badge badge-success">Sí</span></td>
                                            <td>
                                              <button type="submit" class="btn btn-sm btn-primary"><i class="fa icon-eye"></i> </button>                                                                               
                                            </td>
                                        </tr> 
                                        <tr>
                                            <td>3</td>
                                            <td>03-Tiempo de provisión</td>                            
                                            <td><p> Se refiere al periodo que le toma a la persona recibir los servicios brindados por la entidad, 
                                                es decir, desde que la persona espera a ser atendida por alguno de los diferentes canales hasta obtener el 
                                                resultado de la gestión.</p></td>
                                            <td></td>
                                            <td><span class="badge badge-success">Sí</span></td>
                                            <td>
                                              <button type="submit" class="btn btn-sm btn-primary"><i class="fa icon-eye"></i> </button>                                                                              
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>04- Resultado de la gestión/entrega</td>                            
                                            <td><p>Se refiere a la capacidad que tiene la entidad de brindar los servicios de la forma 
                                                correcta, desde que se tiene el primer contacto con la persona hasta su entrega.</p></td>
                                            <td></td>
                                            <td><span class="badge badge-success">Sí</span></td>
                                            <td>
                                              <button type="submit" class="btn btn-sm btn-primary"><i class="fa icon-eye"></i> </button>                                                                                
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>05-Accesibilidad</td>                            
                                            <td><p> Referido a la facilidad que tienen las personas para acceder a los servicios brindados a través de 
                                                los diferentes canales de atención con que cuenta la entidad pública. </p></td>
                                            <td></td>
                                            <td><span class="badge badge-success">Sí</span></td>
                                            <td>
                                              <button type="submit" class="btn btn-sm btn-primary"><i class="fa icon-eye"></i> </button>                                                                               
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>06-Confianza</td>                            
                                            <td><p>Se refiere a la legitimidad que la entidad pública genera ante las personas. </p></td>
                                            <td></td>
                                            <td><span class="badge badge-success">Sí</span></td>
                                            <td>
                                              <button type="submit" class="btn btn-sm btn-primary"><i class="fa icon-eye"></i> </button>                                                                               
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>7</td>
                                            <td>07-Tiempo de Resolución</td>                            
                                            <td><p>Referido a las acciones que realiza el/la servidor/a civil y la actitud que 
                                                manifiesta al momento de brindar los servicios, a través de los diferentes canales de atención con los que cuenta
                                                la entidad.</p></td>
                                            <td><span class="badge badge-success">Sí</span></td>
                                            <td><span class="badge badge-warning">No</span></td>
                                            <td>
                                              <button type="submit" class="btn btn-sm btn-primary"><i class="fa icon-eye"></i> </button>                                                                               
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>8</td>
                                            <td>08-Trato profesional por etapa.</td>                            
                                            <td><p>Referido a las acciones que realiza el/la servidor/a civil y la actitud que 
                                                manifiesta al momento de brindar los servicios, a través de los diferentes canales de atención con los que cuenta
                                                la entidad.</p></td>
                                            <td><span class="badge badge-success">Sí</span></td>
                                            <td><span class="badge badge-success">Sí</span></td>
                                            <td>
                                              <button type="submit" class="btn btn-sm btn-primary"><i class="fa icon-eye"></i> </button>
                                              <button type="submit" class="btn btn-sm btn-warning"><i class="fa icon-pencil"></i> </button>                                  
                                            </td>
                                        </tr>  
                                    </tbody>
                                  </table>                 
                                </div>                            
                            </form>
                        </div>  
                    </div>
                </div>
                <div class="card-footer p-4">
                  <div class="row">
                    <div class="col-4">
                    </div>
                    <div class="col-4">
                      <button type="button" class="btn btn-block btn-outline-primary" (click) ="confirmarGuardar();">Guardar</button>
                    </div>
                    <div class="col-4">
                      <button type="button" class="btn btn-block btn-success" (click) ="confirmarFinalizar();">Finalizar</button>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
