<div class="animated fadeIn">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mx-auto">
          <div class="card mx-12">
            <div class="card-body p-12">
                <form class="was-validated">
                    <h1>Etapas de proceso para obtener el servicio</h1>
                    <p class="text-muted">Incorpore las etapas (pasos) de la experiencia por la que va pasando la persona</p>
                     
                    <hr>
                    <div class="row">
                      <div class="col-8">
                        <h5>Agregar etapas para el servicio elegido</h5>                        
                      </div>                      
                    </div>    
                    <hr>                    
                    <div class="row">                         
                        <div class="col-md-4 col-xs-12">  
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="icon-map"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Código" autocomplete="Código" required>
                            </div>                             
                        </div> 
                        <div class="col-md-8 col-xs-12">  
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="icon-map"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Etapa del proceso de servicio" autocomplete="Etapa del proceso de servicio" required>
                            </div>                             
                        </div>
                    </div>      
                </form>
            </div>  
            <div class="card-footer">
                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Agregar</button>
                <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Restablecer</button>
              </div> 
          </div>
        </div>
      </div>
    </div>  

    <div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 mx-auto">
            <div class="card mx-12">
                <div class="card-body p-12">
                    <h3>Etapas del proceso obtener para el servicio elegido</h3>
                    <div class="card mx-12">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-12">
                                    <!--<small>Servicio : </small>-->
                                    <span class="badge badge-primary">Servicio: </span>
                                    <strong>Proceso de Otorgamiento de Licencia de Funcionamiento
                                    </strong>
                                </div>                    
                            </div>                  
                        </div>
                        <div class="card-body p-12">
                            <form class="was-validated"> 
                                <div class="row" >                                    
                                  <table class="table table-bordered table-striped table-responsive-sm">
                                    <thead>
                                        <th style="width: 40px;">Nro.</th>
                                        <th>Etapa</th> 
                                        <th style="width:40px;">Validado</th>
                                        <th style="width:100px;">Acciones</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>01-Saludo y recepción</td>
                                            <td><span class="badge badge-success">Sí</span></td>
                                            <td>
                                                                                                                          
                                            </td>
                                        </tr> 
                                        <tr>
                                            <td>2</td>
                                            <td>02-Preguntar sobre la duda o consulta,</td>
                                            <td><span class="badge badge-success">Sí</span></td>
                                            <td>
                                                                                                                            
                                            </td>
                                        </tr> 
                                        <tr>
                                            <td>3</td>
                                            <td>03-Responder duda o consulta</td> 
                                            <td><span class="badge badge-warning">No</span></td>
                                            <td>
                                                <a class="btn btn-sm btn-danger" style="color:white" ><i class="icon-close"></i></a>                                                                                                                                                         
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>04-Despedida</td>
                                            <td><span class="badge badge-warning">No</span></td>
                                            <td>
                                                <a class="btn btn-sm btn-danger" style="color:white" ><i class="icon-close"></i></a>                                                                                
                                            </td>
                                        </tr>
                                    </tbody>
                                  </table>                 
                                </div>                            
                            </form>
                        </div>  
                    </div>
                </div>   
                <div class="card-footer p-4">
                  <div class="row">
                    <div class="col-4">
                    </div>
                    <div class="col-4">
                      <button type="button" class="btn btn-block btn-outline-primary" (click) ="confirmarGuardar();">Guardar</button>
                    </div>
                    <div class="col-4">
                      <button type="button" class="btn btn-block btn-success" (click) ="confirmarFinalizar();">Finalizar</button>
                    </div>
                  </div>
                </div> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

