<div class="animated fadeIn">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mx-auto">
          <div class="card mx-12">
            <div class="card-body p-12">
                  <!--<form class="was-validated">-->
                    <h1>Registrar Servicio</h1>
                    <p class="text-muted">Registre y priorice un servicio </p>
                    <hr>                   
                    <h2>Información del Servicio</h2>
                    <div class="row">                         
                        <div class="col-md-3 col-xs-12">   
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="icon-map"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Código del servicio" autocomplete="Nombre de servicio" required>
                            </div> 
                        </div> 
                        <div class="col-md-9 col-xs-12">  
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="icon-user"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Denominación del servicio" autocomplete="Nombre de servicio" required>
                            </div>                             
                        </div>
                    </div>
                    <div class="row">  
                      <div class="col-md-4 col-xs-12">   
                        <div  class="input-group mb-3">
                            <select class="form-control" id="ccmonth" required >
                                <option>Seleccione Prestacional / No prestacional</option>
                                <option>Prestacional</option>
                                <option>No prestacional</option>                                
                            </select>
                        </div> 
                    </div>                        
                      <div class="col-md-4 col-xs-12">   
                          <div  class="input-group mb-3">
                              <select class="form-control" id="ccmonth" required >
                                  <option>El servicio está orientado a</option>
                                  <option>Persona Natural</option>
                                  <option>Persona Jurídica</option>                                
                              </select>
                          </div> 
                      </div> 
                      <div class="col-md-4 col-xs-12">  
                        <div class="row" >
                            <div class="col-6 d-flex justify-content-end">
                                <span class="text-muted">Es Servicio es TUPA</span>
                            </div>
                            <div class="col-6">
                              <label class="switch switch-label switch-pill switch-outline-primary">
                                  <input type="checkbox" class="switch-input">
                                  <span class="switch-slider" data-checked="Si" data-unchecked="No"></span>
                              </label>
                            </div>
                        </div>                          
                      </div>
                    </div>

                            
                    <div class="row">  
                      <div class="col-md-6 col-xs-12">  
                        <div class="row" >
                            <div class="col-6 d-flex justify-content-end">
                                <span class="text-muted">Pertenece a una cadena de servicio</span>
                            </div>
                            <div class="col-6">
                              <label class="switch switch-label switch-pill switch-outline-primary">
                                  <input type="checkbox" class="switch-input">
                                  <span class="switch-slider" data-checked="Si" data-unchecked="No"></span>
                              </label>
                            </div>
                        </div>                          
                      </div>                       
                      <div class="col-md-6 col-xs-12">   
                          <div  class="input-group mb-3">
                              <select class="form-control" id="ccmonth" required >
                                  <option>Tipo de Producto</option>
                                  <option>Es producto final</option>
                                  <option>Es producto intermedio</option>                                
                              </select>
                          </div> 
                      </div> 
                    </div>

                    <div class="row">
                      <div class="col-sm-12">
                        <div class="card">
                          <div class="card-header">
                            <small>Otros servicios de la</small>
                            <strong>Cadena de Servicios</strong>
                          </div>
                
                
                          <div class="card-body">                               
                            <div class="row">
                                <div class="form-group col-sm-5">
                                    <label for="ccyear">Entidad</label>
                                    <select class="form-control" id="ccentidad">
                                    <option>Seleccione la entidad participante en la cadena</option>
                                    <option>Presidencia del Concejo de Ministros</option>
                                    <option>Ministerio de Cultura</option>
                                    <option>Ministerio de Educación</option>
                                    <option>Biblioteca Nacional</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-5">
                                  <label for="ccyear">Servicio</label>
                                  <select class="form-control" id="ccservicio">
                                  <option>Seleccione el servicio de la cadena</option>
                                  <option>Emisión de certificados sanitarios</option>
                                  <option>Actualización de datos personales</option>
                                  <option>Autorización de transporte temporal</option>
                                  <option>Autorización de transporte de mercancías</option>
                                  </select>
                                </div>
                                <div class="form-group col-sm-2">
                                  <br>
                                  <a class="btn btn-sm btn-danger" style="color:white" ><i class="icon-close"></i></a>  
                                  <a class="btn btn-sm btn-success" style="color:white" ><i class="icon-plus"></i></a>
                                </div>
                              </div>
                          </div>
                
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-12"><h2>
                        <hr>
                        Valorar y Priorizar Servicio</h2> 
                      </div>                    
                    </div>
                    <div class="row" >
                      <div class="col-10 d-flex justify-content-end">
                            <span style="color: rgb(10, 0, 0); font-weight: bold;">Prioridad: </span>
                      </div>
                      <div class="col-2 d-flex justify-content-center" >
                            <!--<input type="text" class="form-control" disabled="true" style="width: 80px;" value="0">-->
                            <span class="badge badge-danger" style="width: 60px; height:25px ;">0.00</span>                            
                      </div>
                    </div> 
                    <br>
                    <div class="row">
                      <div class="col-12">
                        <table class="table table-bordered table-striped table-responsive-sm">
                            <thead class="text-center">
                                <th>Nro.</th>                                                               
                                <th>Criterio de Selección</th>
                                <th>Peso</th>                                           
                                <th>Valor</th>
                                <th>Total</th>                                
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>                                                                       
                                    <td>Impacto en la satisfacción de las personas</td>  
                                    <td><div>10</div></td>    
                                    <td><input type="text" class="form-control" placeholder="Valor" style="width: 80px;" [maxlength] = "3" [minlength] = "1" autocomplete="xx" required></td>                                      
                                    <td>
                                      <span class="badge badge-secondary" style="width: 60px; height:25px ;">0.00</span> 
                                    </td>                                    
                                </tr>  
                                <tr>
                                    <td>2</td>                                                                       
                                    <td>Demanda del servicio</td>   
                                    <td><div>15</div></td>     
                                    <td><input type="text" class="form-control" placeholder="Valor" style="width: 80px;" [maxlength] = "3" [minlength] = "1" autocomplete="xx" required></td>                                     
                                    <td>
                                      <span class="badge badge-secondary" style="width: 60px; height:25px ;">0.00</span> 
                                    </td>                                    
                                </tr>  
                                <tr>
                                    <td>3</td>                                                                       
                                    <td>Grado de vinculación del servicio con los objetivos estratégicos</td>                                            
                                    <td><div>5</div></td> 
                                    <td><input type="text" class="form-control" placeholder="Valor" style="width: 80px;" [maxlength] = "3" [minlength] = "1" autocomplete="xx" required></td>
                                    <td>
                                      <span class="badge badge-secondary" style="width: 60px; height:25px ;">0.00</span> 
                                    </td>                                    
                                </tr>  
                                <tr>
                                    <td>4</td>                                                                       
                                    <td>Grado de articulación con algún programa presupuestal (PPoR o PPI17)</td>                                            
                                    <td><div>20</div></td> 
                                    <td><input type="text" class="form-control" placeholder="Valor" style="width: 80px;" [maxlength] = "3" [minlength] = "1" autocomplete="xx" required></td>
                                    <td>
                                      <span class="badge badge-secondary" style="width: 60px; height:25px ;">0.00</span> 
                                    </td>                                    
                                </tr>  
                                <tr>
                                    <td>5</td>                                                                       
                                    <td>Grado de avance en la Implementación de la gestión por procesos18 en la cadena de valor para la provisión del servicio</td>                                            
                                    <td><div>10</div></td>
                                    <td><input type="text" class="form-control" placeholder="Valor" style="width: 80px;" [maxlength] = "3" [minlength] = "1" autocomplete="xx" required></td>
                                    <td>
                                      <span class="badge badge-secondary" style="width: 60px; height:25px ;">0.00</span> 
                                    </td>                                    
                                </tr>  
                            </tbody>
                        </table>
                      </div>
                    </div>
                                     
                    <div class="row">
                      <div class="col-12">  
                        <hr>
                        <h2>Alcance del Servicio</h2>
                        <h5>Describa aquí el alcance del servicio</h5>
                        <ckeditor [editor]="Editor" tagName="textarea"  [(ngModel)] = "model1.editorData" (ready)="onReady($event)"></ckeditor>
                      </div>
                    </div> 
                    <div class="row">
                      <div class="col-12">  
                        <hr>
                        <h2>Cadena de Valor del Servicio</h2>
                        <div class="row">
                          <div class="col-12">
                            <div class="row">
                              <div class="col-md-12 mx-auto">
                                  <h5>Segmentos de personas que reciben el servicio</h5>
                                  <ckeditor [editor]="Editor" tagName="textarea"  [(ngModel)] = "model1.editorData" (ready)="onReady($event)"></ckeditor>
                                  <!--</form>--> 
                                  <hr>                                     
                                  <br>
                              </div>
                              <div class="col-md-12 mx-auto">
                                  <h5>Descripción de los límites del proceso de provisión del servicio</h5>
                                  <ckeditor [editor]="Editor" tagName="textarea"  [(ngModel)] = "model1.editorData" (ready)="onReady($event)"></ckeditor>
                                  <hr>                                     
                                  <br>
                              </div>
                              <div class="col-md-12 mx-auto">
                                  <h5> objetivo o finalidad del servicio</h5>
                                  <ckeditor [editor]="Editor" tagName="textarea"  [(ngModel)] = "model1.editorData" (ready)="onReady($event)"></ckeditor>
                                  <hr>                                     
                                  <br>
                              </div>
                              <div class="col-md-12 mx-auto">
                                  <h5> Resultados esperados</h5>
                                  <ckeditor [editor]="Editor" tagName="textarea"  [(ngModel)] = "model1.editorData" (ready)="onReady($event)"></ckeditor>
                                                         
                                  <br>
                              </div>

                            </div>
                          </div>
                        </div>                    
                      </div>
                    </div> 
            </div>   
            <div class="card-footer p-4">
              <div class="row">
                <div class="col-4">
                </div>
                <div class="col-4">
                  <button type="button" class="btn btn-block btn-outline-primary" (click) ="confirmarGuardar();">Guardar</button>
                </div>
                <div class="col-4">
                  <button type="button" class="btn btn-block btn-success" (click) ="confirmarFinalizar();">Finalizar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

   



</div>
