<div class="animated fadeIn">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mx-auto">
          <div class="card mx-12">
            <div class="card-body p-12">
                <form class="was-validated">
                    <h1>Caracterización de los grupos de personas</h1>
                    <p class="text-muted">Seleccone y registre la opciones para caracterización</p>
                     
                    <hr>
                    <div class="row">
                      <div class="col-8">
                        <h5>Agregar Caracterización para Grupo de persona: Persona Natural</h5>                        
                      </div>                      
                    </div>    
                    <hr>                    
                    <div class="row">                         
                        <div class="col-md-4 col-sx-12">
                            <!--<label for="ctipoVariable">Tipo de variable</label>-->
                            <select class="form-control" id="tvariable" [(ngModel)]="tvariable">
                                <option>Seleccione Tipo de Variable</option>
                                <option>01-Geográfico</option>
                                <option>02-Demogáfico</option>                                
                                <option>04-Tipo de negocio</option>                                
                             </select>                                                     
                        </div>   
                        <div class="form-group col-md-4 col-sx-12">      
                            <!--<label for="ccyear">Variable</label>-->
                            <select class="form-control" id="ccmonth" [(ngModel)]="estadoUser">
                                <option>Seleccione Variable</option>
                                <option>01-1-Ámbito geográfico</option>
                                <option>01-2-Clima</option>
                                <option>02-1-Nivel socio económico</option>
                                <option>02-2-Nacionalidad</option>
                                <option>04-1-Tamaño de la organización</option>
                                <option>04-2-Industria </option>
                                <option>04-3-Sector</option>
                                <option>04-4-Canales de atención</option>
                            </select>                            
                        </div> 
                        <div class="form-group col-md-4 col-sx-12">                                  
                            <!--<label for="ccyear">Caracteristica</label>-->
                            <select class="form-control" id="ccmonth" [(ngModel)]="estadoUser">
                            <option>Seleccione caracteristica</option>
                            <option>Urbano</option>
                            <option>Mediana</option>
                            <option>Servicios</option>
                            <option>Comercial</option>
                            <option>Presencial, web, teléfono</option>
                            </select>                            
                        </div>
                    </div>                  
                </form>
            </div>  
            <div class="card-footer">
                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Agregar</button>
                <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Restablecer</button>
              </div>          
            <!--<div class="card-footer p-4">
              <div class="row">
                <div class="col-4">
                </div>
                <div class="col-4">
                  <button type="button" class="btn btn-block btn-outline-primary">Guardar</button>
                </div>
                <div class="col-4">
                  <button type="button" class="btn btn-block btn-success">Finalizar</button>
                </div>
              </div>
            </div>-->
          </div>
        </div>
      </div>
    </div>
  
    <div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 mx-auto">
            <div class="card mx-12">
              <div class="card-body p-12">
                  <form class="was-validated">                 
                      <h3>Caracterización de Persona Natural</h3>
                      <div class="row" >
                        <table class="table table-bordered table-striped table-responsive-sm">
                          <thead>
                              <th>Nro.</th>
                              <th>Tipo de variable</th>                          
                              <th>Variable</th>
                              <th>Caracteristica </th>
                              <th>Acciones</th>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>1</td>
                                  <td>01-Geográfico</td>                            
                                  <td>01-1-Ámbito geográfico</td>
                                  <td>Rural</td>
                                  <td>
                                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa icon-eye"></i> </button>
                                    <button type="submit" class="btn btn-sm btn-warning"><i class="fa icon-pencil"></i> </button>                                  
                                  </td>
                              </tr>  
                              <tr>
                                <td>2</td>
                                <td>02-Demográfico</td>                            
                                <td>02-1-Nivel socio económico</td>
                                <td>Medio</td>
                                <td>
                                  <button type="submit" class="btn btn-sm btn-primary"><i class="fa icon-eye"></i> </button>
                                  <button type="submit" class="btn btn-sm btn-warning"><i class="fa icon-pencil"></i> </button>                                  
                                </td>
                              </tr>  
                              <tr>
                                <td>3</td>
                                <td>04-Tipo de negocio</td>                            
                                <td>04-1-Tamaño de la organización</td>
                                <td>Pequeña</td>
                                <td>
                                  <button type="submit" class="btn btn-sm btn-primary"><i class="fa icon-eye"></i> </button>
                                  <button type="submit" class="btn btn-sm btn-warning"><i class="fa icon-pencil"></i> </button>                                  
                                </td>
                            </tr>  
                            <tr>
                                <td>4</td>
                                <td>04-Tipo de negocio</td>                            
                                <td>04-2-Industria</td>
                                <td>Servicios</td>
                                <td>
                                  <button type="submit" class="btn btn-sm btn-primary"><i class="fa icon-eye"></i> </button>
                                  <button type="submit" class="btn btn-sm btn-warning"><i class="fa icon-pencil"></i> </button>                                  
                                </td>
                            </tr>  
                            <tr>
                                <td>5</td>
                                <td>04-Tipo de negocio</td>                            
                                <td>04-4-Sector</td>
                                <td>Comercial</td>
                                <td>
                                  <button type="submit" class="btn btn-sm btn-primary"><i class="fa icon-eye"></i> </button>
                                  <button type="submit" class="btn btn-sm btn-warning"><i class="fa icon-pencil"></i> </button>                                  
                                </td>
                            </tr>  
                          </tbody>
                        </table>                 
                      </div>                
                      <hr>                                    
                  </form>
              </div> 
                        
            <div class="card-footer p-4">
              <div class="row">
                <div class="col-4">
                </div>
                <div class="col-4">
                  <button type="button" class="btn btn-block btn-outline-primary" (click) ="confirmarGuardar();">Guardar</button>
                </div>
                <div class="col-4">
                  <button type="button" class="btn btn-block btn-success" (click) ="confirmarFinalizar();">Finalizar</button>
                </div>
              </div>
            </div>           
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>