<div class="animated fadeIn">  
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <small>Formulario de</small>
                <strong>Búsqueda de Entidades</strong>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-sm-12">
                        <label for="criterio">Entidad</label>
                        <input type="text" class="form-control" id="ccriterio" placeholder="Ingrese nombre de entidad">
                    </div>
                </div>               
            </div>
            <div class="card-footer">
              <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Buscar</button>
              <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Restablecer</button>
            </div>       
        </div>
      </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <!-- <div class="card-header">
              <i class="fa fa-align-justify"></i> Combined All Table
            </div> -->
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-12">
                        <small>Listado de</small>
                        <strong>Entidades</strong>
                    </div>                    
                </div>
            </div>
            <div class="card-body" >
              <table class="table table-bordered table-striped table-responsive-sm">
                <thead>
                    <th>Nro.</th>
                    <th>Entidad</th>                    
                    <th>Líder de cadena de servicio</th>
                    <th>Logotipo</th>                    
                    <th>Estado</th>
                    <th>Acciones</th>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Ministerio de Justicia y Derechos Humanos</td>                        
                        <td>Sí </td>
                        <td><img src="../../../../assets/img/brand/logo-pcm.png" height="20px" alt=""></td>
                        <td><span class="badge badge-success">Activo</span></td>
                        <td>                          
                            <button type="reset" class="btn btn-sm btn-primary"><i class="fa icon-eye"></i> </button>   
                            <a href="#/Entidades/ModificarEntidad" class="btn btn-sm btn-warning"><i class="fa icon-pencil"></i> </a>                       
                        </td>
                    </tr> 
                    <tr>
                        <td>2</td>
                        <td>Ministerio de Energía y Minas</td>
                        <td>No</td>                        
                        <td><img src="../../../../assets/img/brand/logo-pcm.png" height="20px" alt=""></td>
                        <td><span class="badge badge-success">Activo</span></td>
                        <td>                          
                            <button type="reset" class="btn btn-sm btn-primary"><i class="fa icon-eye"></i> </button>   
                            <a href="#/Entidades/ModificarEntidad" class="btn btn-sm btn-warning"><i class="fa icon-pencil"></i> </a>                        
                        </td>
                    </tr> 
                    <tr>
                        <td>3</td>
                        <td>Ministerio de Cultura</td>
                        <td>No</td>                        
                        <td><img src="../../../../assets/img/brand/logo-pcm.png" height="20px" alt=""></td>
                        <td><span class="badge badge-success">Activo</span></td>
                        <td>
                            <button type="reset" class="btn btn-sm btn-primary"><i class="fa icon-eye"></i> </button>   
                            <a href="#/Entidades/ModificarEntidad" class="btn btn-sm btn-warning"><i class="fa icon-pencil"></i> </a>                         
                        </td>
                    </tr>                       
                    <tr>
                        <td>4</td>
                        <td>Ministerio de Educación</td>
                        <td>Sí</td>
                        <td><img src="../../../../assets/img/brand/logo-pcm.png" height="20px" alt=""></td>
                        <td><span class="badge badge-success">Activo</span></td>
                        <td>                          
                            <button type="reset" class="btn btn-sm btn-primary"><i class="fa icon-eye"></i> </button>    
                            <a href="#/Entidades/ModificarEntidad" class="btn btn-sm btn-warning"><i class="fa icon-pencil"></i> </a>                       
                        </td>
                    </tr> 
                    <tr>
                        <td>5</td>
                        <td>Municipalidad de Lima Metropolitana</td>                        
                        <td>No</td>
                        <td><img src="../../../../assets/img/brand/logo-pcm.png" height="20px" alt=""></td>
                        <td><span class="badge badge-success">Activo</span></td>
                        <td>                          
                            <button type="reset" class="btn btn-sm btn-primary"><i class="fa icon-eye"></i> </button>     
                            <a href="#/Entidades/ModificarEntidad" class="btn btn-sm btn-warning"><i class="fa icon-pencil"></i> </a>                     
                        </td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Unidad de Gestión Educativa - San Borja</td>                        
                        <td>Sí</td>
                        <td><img src="../../../../assets/img/brand/logo-pcm.png" height="20px" alt=""></td>
                        <td><span class="badge badge-success">Activo</span></td>
                        <td>                          
                            <button type="reset" class="btn btn-sm btn-primary"><i class="fa icon-eye"></i> </button>
                            <a href="#/Entidades/ModificarEntidad" class="btn btn-sm btn-warning"><i class="fa icon-pencil"></i> </a>   
                        </td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Instituto Nacional de Salud del Niño</td>                        
                        <td>Sí</td>
                        <td><img src="../../../../assets/img/brand/logo-pcm.png" height="20px" alt=""></td>
                        <td><span class="badge badge-success">Activo</span></td>
                        <td>                          
                            <button type="reset" class="btn btn-sm btn-primary"><i class="fa icon-eye"></i> </button>
                            <a href="#/Entidades/ModificarEntidad" class="btn btn-sm btn-warning"><i class="fa icon-pencil"></i> </a>   
                        </td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>Hospital de la Solidaridad</td>                        
                        <td>Sí</td>
                        <td><img src="../../../../assets/img/brand/logo-pcm.png" height="20px" alt=""></td>
                        <td><span class="badge badge-success">Activo</span></td>
                        <td>          
                            <button type="reset" class="btn btn-sm btn-primary"><i class="fa icon-eye"></i> </button>    
                            <a href="#/Entidades/ModificarEntidad" class="btn btn-sm btn-warning"><i class="fa icon-pencil"></i> </a>   
                        </td>
                    </tr>        
                </tbody>
              </table>              
              <div class="card-body">
                <div class="row">
                    <div class="col-xs-12 col-12 d-sm-down-none">
                      <pagination ng-reflect-total-items="64" ng-reflect-model="4" class="ng-untouched ng-pristine ng-valid">
                        <ul class="pagination" ng-reflect-ng-class="">
                            <li class="pagination-prev page-item"><a href="" class="page-link">Anterior</a></li>
                            <li class="pagination-page page-item active"><a href="" class="page-link">1</a></li>
                            <li class="pagination-page page-item"><a href="" class="page-link">2</a></li>
                            <li class="pagination-page page-item"><a href="" class="page-link">3</a></li>
                            <li class="pagination-page page-item"><a href="" class="page-link">4</a></li>
                            <li class="pagination-page page-item"><a href="" class="page-link">5</a></li>
                            <li class="pagination-page page-item"><a href="" class="page-link">6</a></li>
                            <li class="pagination-page page-item"><a href="" class="page-link">7</a></li>
                            <li class="pagination-next page-item"><a href="" class="page-link">Siguiente</a></li>
                        </ul>
                    </pagination>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>

