<div class="animated fadeIn">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mx-auto">
          <div class="card mx-12">
            <div class="card-body p-12">
                <form class="was-validated">
                    <h1>Designar Maxima Autoridad</h1>
                    
                    <p class="text-muted">Ingrese los datos para registrar al Usuario como la Maxima Autoridad</p>
                     
                    <hr>
                    <div class="row">
                      <div class="col-8">
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="icon-credit-card"></i></span>
                          </div>
                          <input type="text" class="form-control" placeholder="Documento de identidad" [maxlength] = "8" [minlength] = "8" autocomplete="username" required>
                        </div>
                      </div>
                      <div class="col-2">
                        <button type="button" class="btn btn-block btn-outline-primary" (click)="validarReniecClic()">Validar</button>
                      </div>
                      <div class="col-2">
                        <button type="button" class="btn btn-block btn-outline-secondary" (click)="restablecerReniec()">Restablecer</button>
                      </div>
                    </div>
                    <div class="row" *ngIf=mostrarNombre>
                        <div class="col-8">
                            <h5>José Manuel Cuya Yaguana</h5>
                        </div>
                    </div>       
                    <hr>
                    <h3>Información del Usuario</h3>
                    <div class="row">                         
                        <div class="col-6">
                                
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="icon-user"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Nombre de usuario" autocomplete="username" required>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">@</span>
                                </div>
                                <input type="email" class="form-control" placeholder="Correo Electrónico" autocomplete="email" required>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="icon-phone"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Teléfono/celular" autocomplete="tel" required [maxlength] = "10" [minlength] = "8">
                            </div>
                        </div>    
                 
                        <div class="col-6">  
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="icon-lock"></i></span>
                                </div>
                                <input type="password" class="form-control" placeholder="Ingrese la clave" autocomplete="new-password" required>
                            </div>
                            <div class="input-group mb-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="icon-lock"></i></span>
                                </div>
                                <input type="password" class="form-control" placeholder="Repita la clave" autocomplete="new-password" required>
                            </div> 
                        </div>
                    </div>
                  
                </form>
            </div>            
            <div class="card-footer p-4">
              <div class="row">
                <div class="col-4">
                </div>
                <div class="col-4">
                  <button type="button" class="btn btn-block btn-outline-primary" (click) ="confirmarGuardar();">Guardar</button>
                </div>
                <div class="col-4">
                  <button type="button" class="btn btn-block btn-success" (click) ="confirmarFinalizar();">Finalizar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 mx-auto">
            <div class="card mx-12">
              <div class="card-body p-12">
                  <form class="was-validated">                 
                      <h2>Usuario Asignado</h2>
                      <div class="row" >
                        <table class="table table-bordered table-striped table-responsive-sm">
                          <thead>
                              <th>Nro.</th>
                              <th>D.N.I.</th>                          
                              <th>Nombres y apellidos</th>
                              <th>Usuario </th>
                              <th>Fecha de Alta </th>
                              <th>Estado</th>
                              <th>Acciones</th>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>1</td>
                                  <td>41522554</td>                            
                                  <td>Rosa Cecilia Robles Rodríguez</td>
                                  <td>rrobles</td>
                                  <td>25/03/2021</td>
                                  <td><span class="badge badge-success">Activo</span></td>
                                  <td>
                                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa icon-eye"></i> </button>
                                    <button type="submit" class="btn btn-sm btn-warning"><i class="fa icon-pencil"></i> </button>                                    
                                  </td>
                              </tr>  
                          </tbody>
                        </table>                 
                      </div>                
                      <hr>
                        <h3>Histórico</h3>
                      <div class="row">
                        <table class="table table-bordered table-striped table-responsive-sm">
                      
                          <tbody>                            
                              <tr>                                                                                             
                                  <p>41568912 - Roberta Alameda Pérez - ralameda - fecha de baja: 15/01/2020 <span class="badge badge-secondary">Baja</span></p>
                                  <p>48961356 - Julia Montenegro Rosas - jmontenegro - fecha de baja: 10/02/2020 <span class="badge badge-secondary">Baja</span></p>
                                  <p>01868965 - Alonso Rojas Sandoval - arojas - fecha de baja: 25/03/2021 <span class="badge badge-secondary">Baja</span></p>
                              </tr>
                          </tbody>
                        </table>
                      </div>               
                  </form>
              </div>            
            </div>
          </div>
        </div>
      </div>
    </div>
</div>