
<div class="animated fadeIn">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mx-auto">
          <div class="card mx-12">
            <div class="card-body p-12">
                <form class="was-validated">
                    <h1>Registrar Usuario</h1>
                    <p class="text-muted">Ingrese los datos para registrar el nuevo usuario</p>
                    <hr>
                    <h2>Roles del usuario</h2>
                    <div class="row" >
                      <div class="col-8">
                          <span class="text-muted">El usuario es súper administrador</span>
                      </div>
                      <div class="col-4">
                        <label class="switch switch-label switch-pill switch-outline-primary">
                          <input type="checkbox" class="switch-input">
                          <span class="switch-slider" data-checked="Si" data-unchecked="No"></span>
                        </label>
                      </div>
                    </div>
                    <div class="row" >
                      <div class="col-8">
                          <span class="text-muted">El usuario es Sectorista SGP</span>
                      </div>
                      <div class="col-4">
                        <label class="switch switch-label switch-pill switch-outline-primary">
                          <input type="checkbox" class="switch-input">
                          <span class="switch-slider" data-checked="Si" data-unchecked="No"></span>
                        </label>
                      </div>
                    </div>
                    <div class="row" >
                      <div class="col-8">
                          <span class="text-muted">El usuario es administrador de la entidad</span>
                      </div>
                      <div class="col-4">
                        <label class="switch switch-label switch-pill switch-outline-primary">
                          <input type="checkbox" class="switch-input">
                          <span class="switch-slider" data-checked="Si" data-unchecked="No"></span>
                        </label>
                      </div>
                    </div>
                    <div class="row" >
                      <div class="col-8">
                          <span class="text-muted">El usuario es máxima autoridad de la entidad</span>
                      </div>
                      <div class="col-4">
                        <label class="switch switch-label switch-pill switch-outline-primary">
                          <input type="checkbox" class="switch-input">
                          <span class="switch-slider" data-checked="Si" data-unchecked="No"></span>
                        </label>
                      </div>
                    </div>
                    <div class="row" >
                      <div class="col-8">
                          <span class="text-muted">El usuario es responsable de implementación</span>
                      </div>
                      <div class="col-4">
                        <label class="switch switch-label switch-pill switch-outline-primary">
                          <input type="checkbox" class="switch-input">
                          <span class="switch-slider" data-checked="Si" data-unchecked="No"></span>
                        </label>
                      </div>
                    </div>
                    <div class="row" >
                      <div class="col-8">
                          <span class="text-muted">El usuario es miembro del equipo de implementación</span>
                      </div>
                      <div class="col-4">
                        <label class="switch switch-label switch-pill switch-outline-primary">
                          <input type="checkbox" class="switch-input">
                          <span class="switch-slider" data-checked="Si" data-unchecked="No"></span>
                        </label>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-8">
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="icon-credit-card"></i></span>
                          </div>
                          <input type="text" class="form-control" placeholder="Documento de identidad" [maxlength] = "8" [minlength] = "8" autocomplete="username" required>
                        </div>
                      </div>
                      <div class="col-2">
                        <button type="button" class="btn btn-block btn-outline-primary" (click)="validarReniecClic()">Validar</button>
                      </div>
                      <div class="col-2">
                        <button type="button" class="btn btn-block btn-outline-secondary" (click)="restablecerReniec()">Restablecer</button>
                      </div>
                    </div>
                    <div class="row" *ngIf=mostrarNombre>
                        <div class="col-8">
                            <h5>José Manuel Cuya Yaguana</h5>
                        </div>
                    </div>       
                    <hr>
                    <h3>Información del Usuario</h3>
                    <div class="row">                         
                        <div class="col-6">   
                            <div  class="input-group mb-3">
                                <select class="form-control" id="ccmonth" [(ngModel)]="estadoUser">
                                <option>Seleccione entidad</option>
                                <option>Presidencia del Concejo de Ministros</option>
                                <option>Ministerio de Cultura</option>
                                <option>Ministerio de Educación</option>
                                <option>Biblioteca Nacional</option>
                                </select>
                            </div>               
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="icon-user"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Nombre de usuario" autocomplete="username" required>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">@</span>
                                </div>
                                <input type="email" class="form-control" placeholder="Correo Electrónico" autocomplete="email" required>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="icon-phone"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Teléfono/celular" autocomplete="tel" required [maxlength] = "10" [minlength] = "8">
                            </div>
                        </div>    
                 
                        <div class="col-6">  
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="icon-lock"></i></span>
                                </div>
                                <input type="password" class="form-control" placeholder="Ingrese la clave" autocomplete="new-password" required>
                            </div>
                            <div class="input-group mb-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="icon-lock"></i></span>
                                </div>
                                <input type="password" class="form-control" placeholder="Repita la clave" autocomplete="new-password" required>
                            </div> 
                        </div>
                    </div>
                    <hr>
                    
                    <h2>Entidades del Sectorista</h2> 
                    <div class="row" >
                      <div class="col-12">
                          <span class="text-muted">                              
                            <select id="multiple-select" name="multiple-select" class="form-control" size="8" multiple>
                                <option>Presidencia del Concejo de Ministros</option>
                                <option>Ministerio de Cultura</option>
                                <option>Ministerio de Educación</option>
                                <option>Biblioteca Nacional</option>
                                <option>Presidencia del Concejo de Ministros</option>
                                <option>Ministerio de Cultura</option>
                                <option>Ministerio de Educación</option>
                                <option>Biblioteca Nacional</option>
                                <option>Presidencia del Concejo de Ministros</option>
                                <option>Ministerio de Cultura</option>
                                <option>Ministerio de Educación</option>
                                <option>Biblioteca Nacional</option>
                            </select>
                          </span>
                      </div>
                    </div>
                    <div class="row">                        
                        <div class="col-8">                              
                            <div class="form-group row">
                            </div>
                        </div>
                    </div>

                </form>
            </div>            
            <div class="card-footer p-4">
                <div class="row">
                  <div class="col-4">
                    <button type="button" class="btn btn-block btn-warning">Volver al listado de usuarios</button>
                  </div>
                  <div class="col-4">
                    <button type="button" class="btn btn-block btn-danger">Restablecer</button>
                  </div>
                  <div class="col-4">
                    <button type="button" class="btn btn-block btn-success">Guardar</button>
                    <button type="button" class="btn btn-block btn-success" (click) ="confirmarGuardar();">Guardar</button>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
</div>