<div class="animated fadeIn">
    <!--<div class="container">-->
      <div class="row">
        <div class="col-md-12 mx-auto">
          <div class="card mx-12">
            <div class="card-body p-12">
                    <h1>Registro de Herramientas Adicionales</h1>
                    <p class="text-muted">Registrar información de Herramientas Adicionales</p>
                    <hr>
            </div>
          </div>
        </div>        
      <!--</div>-->
    </div>  
    <div>
      <!--<div class="container">-->
        <div class="row">
          <div class="col-md-12 mx-auto">
            <div class="card mx-12">
                <div class="card-body p-12">
                    <!--<form class="was-validated">-->
                        <!--<h3>Revisión comparativa de las necesidades y expectativas</h3>-->
                        <div class="card mx-12">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-md-8 col-sx-12">
                                        <!--<small>Servicio : </small>-->
                                        <P>
                                        <span class="badge badge-primary">Servicio: </span>
                                        <strong>Proceso de Otorgamiento de Licencia de Funcionamiento</strong>
                                        </P>
                                        <P>
                                        <span class="badge badge-primary">Segmento de personas: </span>
                                        <strong>Persona juridica</strong>
                                        </P>
                                    </div>                    
                                </div>  
                                <div class="row">
                                    <div class="col-md-4 col-sx-12">
                                        <a class="btn btn-sm btn-danger" style="color:white" ><i class="icon-close"></i></a> 
                                        <a class="btn btn-sm btn-success" style="color:white" ><i class="icon-plus"></i></a>
                                    </div>                    
                                </div>  

                            </div>
                            <div class="card-body p-12">
                                <!--<form class="was-validated"> -->
                                        <table class="table table-bordered table-striped table-responsive-sm">
                                            <tr>
                                                <td>                                                  
                                                    <div class="row" >  
                                                        <div class="col-md-6 col-xs-12">
                                                                                    <span class="h5">Nombre de Herramienta</span>                       
                                                                                    <br>
                                                                                        <div class="input-group mb-12">
                                                                                            <!--<div class="input-group-prepend">
                                                                                                <span class="input-group-text"><i class="icon-map"></i></span>
                                                                                            </div>-->
                                                                                            <input type="text" class="form-control" placeholder="Nombre de Herramienta" autocomplete="Denominoacion de Herramienta" required>
                                                                                        </div>
                                                         </div>    
                                                     </div> 
                                                     <div class="row" >  
                                                                                <div class="col-md-12">
                                                                                    <span class="h5">Información de Herramientas Adicionales</span>                       
                                                                                    <br>
                                                                                    <ckeditor [editor]="Editor" tagName="textarea"  [(ngModel)] = "model1.editorData" (ready)="onReady($event)"></ckeditor>
                                                                                    <br> 
                                                                                </div>    
                                                     </div>                                                                              
                                                     <div class="row" >
                                                                                <!--<div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0" style="width: 330px;">-->
                                                                                <div class="col-12" style="width: 330px;">    
                                                                                    <input type="file" id="selectedFile" style="display: none;" #attachments (change)="onFileChanged($event)" multiple/>
                                                                                    <div class="row" >
                                                                                        <div class="col-md-3 col-sx-12">
                                                                                            <input type="button" class="btn btn-block btn-primary" value="Ajuntar Anexos" onclick="document.getElementById('selectedFile').click();" />
                                                                                        </div>
                                                                                    </div>                                            
                                                                                    <br>
                                                                                    <div class="card-body" *ngIf="listOfFiles.length > 0">
                                                                                            <table  class="table table-bordered table-striped  table-responsive-sm">
                                                                                            <thead>
                                                                                                <tr>
                                                                                                <th>#</th>
                                                                                                <th>Archivo</th>
                                                                                                <th></th>
                                                                                                </tr>
                                                                                            </thead>
                                                                                            <tbody *ngFor="let file of listOfFiles; let i = index">
                                                                                                <tr>
                                                                                                <td>{{i + 1}}</td>
                                                                                                <td>{{file}}</td>
                                                                                                <td>
                                                                                                    <a class="btn btn-sm btn-danger" (click) ="removeSelectedFile(i);"><i class="icon-close"></i></a>
                                                                                                </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                            </table>  
                                                                                            <hr>                                                            
                                                                                    </div> 
                                                        
                                                                                        <!-- modal -->
                                                                                    <div bsModal #sendFileModal="bs-modal" class="modal fade" [config]="{ backdrop: 'static' }" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                                                        <div class="modal-dialog  modal-lg " role="document">
                                                                                        <div class="modal-content">
                                                                                            <div class="modal-header">
                                                                                            <h4 class="modal-title">Vista PDF</h4>
                                                                                            <button type="button" class="close" (click)="closeModal();" aria-label="Close">
                                                                                                <span aria-hidden="true">&times;</span>
                                                                                            </button>
                                                                                            </div>
                                                                                            <div class="modal-body">
                                                                                            <!-- <div class="card-body p-4" >  -->
                                                                                                <ngx-extended-pdf-viewer [src]="'assets/InformeCondicionesPrevias_0001_18.06.2021_final.pdf'" useBrowserLocale="true" height="80vh"></ngx-extended-pdf-viewer>
                                                                                                <!-- </div> -->
                                                                                            </div>
                                                                                            <div class="modal-footer">
                                                                                            <!-- <button type="button" class="btn btn-secondary" (click)="cleanDormModal();">Limpiar</button> -->
                                                                                            <button type="button" class="btn btn-info"(click)="closeModal();" >Cerrar</button>
                                                                                            </div>
                                                                                        </div><!-- /.modal-content -->
                                                                                        </div><!-- /.modal-dialog -->
                                                                                    </div><!-- /.modal -->
                                                                                </div>
                                                      </div>  
                                                                        
                                                 </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="card mx-12">
                                                        <div class="card-body p-12">
                                                            
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table> 
                                <!--</form> -->
                            </div>  
                        </div>
                    <!--</form>-->
                </div>
                <div class="card-footer p-4">
                  <div class="row">
                    <div class="col-4">
                    </div>
                    <div class="col-4">
                      <button type="button" class="btn btn-block btn-outline-primary" (click) ="confirmarGuardar();">Guardar</button>
                    </div>
                    <div class="col-4">
                      <button type="button" class="btn btn-block btn-success" (click) ="confirmarFinalizar();">Finalizar</button>
                    </div>
                  </div>
                </div> 
            </div>
          </div>
        </div>
      </div>
    <!--</div>-->    
  </div>










