<div class="animated fadeIn">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mx-auto">
          <div class="card mx-12">
            <div class="card-body p-12">
                <form class="was-validated">
                    <h1>Agrupar Necesidades y/o expectativas</h1>
                    <p class="text-muted">Agrupar necesidades y/o expectativas del servicio elegido por Conductor</p>
                    <hr>
                    <div class="row">
                      <div class="col-8">
                        <h5>Agregar necesidades y/o expectativas a un Conductor</h5>                        
                      </div>                      
                    </div>  
                    <hr>                   
                    <div class="row">                         
                        <div class="col-md-6 col-sx-12">
                            <!--<label for="ctipoVariable">Tipo de variable</label>-->
                            <select class="form-control" id="tconductor" [(ngModel)]="tconductor">
                                <option>Seleccione conductor</option>
                                <option>Trato profesional durante la atención</option>
                                <option>Información</option>                                
                                <option>Tiempo de provisión</option>  
                                <option>Resultado de la gestión/entrega</option>  
                                <option>Accesibilidad</option>  
                                <option>Confianza</option>  
                                <option>Confianza</option>                                
                             </select>                                                     
                        </div>   
                        <div class="form-group col-md-6 col-sx-12">      
                            <!--<label for="ccyear">Variable</label>-->
                            <select class="form-control" id="ccmonth" [(ngModel)]="estadoUser">
                                <option>Seleccione necesidad y/o expectativas</option>
                                <option>Actitud de servicio en el personal</option>
                                <option>Contar con el personal preparado y formado para brindar un buen servicio</option>
                                <option>Información en tiempo real del estado del trámite</option>
                                <option>Recibir información completa y sin errores</option>
                                <option>Menor tiempo de atención</option>
                                <option>Menor tiempo de espera para ser atendido</option>
                                <option>Menor costo por el servicio</option>
                                <option>Sencillez en los documentos y formularios</option>
                                <option>Mayores canales de atención</option>
                                <option>Transparencia en la gestión del trámite</option>
                            </select>                            
                        </div> 
                    </div>      
                </form>
            </div>  
            <div class="card-footer">
                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Agregar</button>
                <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Restablecer</button>
              </div> 
          </div>
        </div>
      </div>
    </div>
  
    <div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 mx-auto">
            <div class="card mx-12">
                <div class="card-body p-12">
                    <h3>Cuadro de necesidades y/o expectativas para el servicio elegido</h3>
                    <div class="card mx-12">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-12">
                                    <!--<small>Servicio : </small>-->
                                    <span class="badge badge-primary">Servicio: </span>
                                    <strong>Proceso de Otorgamiento de Licencia de Funcionamiento
                                    </strong>
                                </div>                    
                            </div>                  
                        </div>
                        <div class="card-body p-12">
                            <form class="was-validated"> 
                                <div class="row" >                                    
                                  <table class="table table-bordered table-striped table-responsive-sm">
                                    <thead>
                                        <th>Segmento de persona</th> 
                                        <th>Nro.</th>     
                                        <th>Conductor.</th>    
                                        <th>Nro.</th>                                                                
                                        <th>Necesidad y/o expectativa</th>                                        
                                        <th>Validado</th>
                                        <th style="width:100px;">Acciones</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td rowspan="10">Persona Jurídica</td>
                                            <td rowspan="2">1</td>      
                                            <td rowspan="2">Trato profesional durante la atención</td>  
                                            <td>1</td>                                      
                                            <td>Actitud de servicio en el personal</td>
                                            <td><span class="badge badge-success">Sí</span></td>
                                            <td>
                                              <button type="submit" class="btn btn-sm btn-primary"><i class="fa icon-eye"></i> </button>                                                                             
                                            </td>
                                        </tr> 
                                        <tr>
                                            <td>2</td>                                      
                                            <td>Contar con el personal preparado y formado para brindar un buen servicio</td>
                                            <td><span class="badge badge-success">Sí</span></td>
                                            <td>
                                              <button type="submit" class="btn btn-sm btn-primary"><i class="fa icon-eye"></i> </button>                                                                             
                                            </td>
                                        </tr> 
                                        <tr>
                                            <td rowspan="2">2</td> 
                                            <td rowspan="2">Información</td>  
                                            <td>1</td>                                      
                                            <td>Información en tiempo real del estado del trámite</td>
                                            <td><span class="badge badge-success">Sí</span></td>
                                            <td>
                                              <button type="submit" class="btn btn-sm btn-primary"><i class="fa icon-eye"></i> </button>                                                                             
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>2</td>                                      
                                            <td>Recibir información completa y sin errores</td>
                                            <td><span class="badge badge-success">Sí</span></td>
                                            <td>
                                              <button type="submit" class="btn btn-sm btn-primary"><i class="fa icon-eye"></i> </button>                                                                             
                                            </td>
                                        </tr>
                                        <tr>
                                            <td rowspan="2">3</td> 
                                            <td rowspan="2">Tiempo de provisión</td>  
                                            <td>1</td>                                      
                                            <td>Menor tiempo de atención</td>
                                            <td><span class="badge badge-success">Sí</span></td>
                                            <td>
                                              <button type="submit" class="btn btn-sm btn-primary"><i class="fa icon-eye"></i> </button>                                                                             
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>2</td>                                      
                                            <td>Menor tiempo de espera para ser atendido</td>
                                            <td><span class="badge badge-success">Sí</span></td>
                                            <td>
                                              <button type="submit" class="btn btn-sm btn-primary"><i class="fa icon-eye"></i> </button>                                                                             
                                            </td>
                                        </tr>
                                        <tr>
                                            <td rowspan="2">4</td> 
                                            <td rowspan="2">Resultado de la gestión / entrega</td>  
                                            <td>1</td>                                      
                                            <td>Menor costo por el servicio</td>
                                            <td><span class="badge badge-success">Sí</span></td>
                                            <td>
                                              <button type="submit" class="btn btn-sm btn-primary"><i class="fa icon-eye"></i> </button>                                                                             
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>2</td>                                      
                                            <td>Sencillez en los documentos y formularios</td>
                                            <td><span class="badge badge-success">Sí</span></td>
                                            <td>
                                              <button type="submit" class="btn btn-sm btn-primary"><i class="fa icon-eye"></i> </button>                                                                             
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>5</td> 
                                            <td>Accesibilidad</td>  
                                            <td>1</td>                                      
                                            <td>Mayores canales de atención</td>
                                            <td><span class="badge badge-success">Sí</span></td>
                                            <td>
                                              <button type="submit" class="btn btn-sm btn-primary"><i class="fa icon-eye"></i> </button>                                                                             
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>6</td> 
                                            <td>Confianza</td>  
                                            <td>1</td>                                      
                                            <td>Transparencia en la gestión del trámite</td>
                                            <td><span class="badge badge-success">Sí</span></td>
                                            <td>
                                              <button type="submit" class="btn btn-sm btn-primary"><i class="fa icon-eye"></i> </button>                                                                             
                                            </td>
                                        </tr>
                                    </tbody>
                                  </table>                 
                                </div>                            
                            </form>
                        </div>  
                    </div>
                </div>
                <div class="card-footer p-4">
                    <div class="row">
                        <div class="col-4">
                        </div>
                        <div class="col-4">
                        <button type="button" class="btn btn-block btn-outline-primary">Guardar</button>
                        </div>
                        <div class="col-4">
                        <button type="button" class="btn btn-block btn-success">Finalizar</button>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


