<div class="animated fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mx-auto">
                    <div class="card mx-12">
                            <div class="card-body p-12">
                                <!--<form class="was-validated">-->
                                    <h1>Evaluación de la Entidad</h1>
                                    <p class="text-muted">Ingrese la información con respecto a la evaluación de la entidad</p>
                                    <hr>                                     
                                        <br>
                                        <ckeditor [editor]="Editor" tagName="textarea"  [(ngModel)] = "model1.editorData" (ready)="onReady($event)"></ckeditor>
                                                              
                                    
                                <!--</form>--> 
                            </div>        
                            <div class="card-footer p-4">
                              <div class="row">
                                <div class="col-4">
                                </div>
                                <div class="col-4">
                                  <button type="button" class="btn btn-block btn-outline-primary" (click) ="confirmarGuardar();">Guardar</button>
                                </div>
                                <div class="col-4">
                                  <button type="button" class="btn btn-block btn-success" (click) ="confirmarFinalizar();">Finalizar</button>
                                </div>
                              </div>
                            </div>
                        
                    </div>
                </div>
            </div>
        </div>
</div>

