<div class="animated fadeIn">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mx-auto">
          <div class="card mx-12">
            <div class="card-body p-12">
                <form class="was-validated">
                    <h1>Necesidades y/o expectativas</h1>
                    <p class="text-muted">Incorpore las necesidades y/o expectativas</p>
                    <hr>
                    <div class="row">
                      <div class="col-8">
                        <h5>Agregar  necesidades y/o expectativas para el servicio elegido y grupo de persona: Persona Natural</h5>                        
                      </div>                      
                    </div>   
                    <hr>                   
                    <div class="row">                         
                        <div class="col-md-4 col-xs-12">  
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="icon-map"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Código" autocomplete="Código" required>
                            </div>                             
                        </div>  
                        <div class="col-md-8 col-xs-12">  
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="icon-map"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Necesidad y/o Expectativa" autocomplete="Necesidad y/o Expectativa" required>
                            </div>                             
                        </div>
                    </div>      
                </form>
            </div>  
            <div class="card-footer">
                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Agregar</button>
                <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Restablecer</button>
              </div> 
          </div>
        </div>
      </div>
    </div>
  
    <div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 mx-auto">
            <div class="card mx-12">
                <div class="card-body p-12">
                    <h3>Cuadro de necesidades y/o expectativas para el servicio elegido</h3>
                    <div class="card mx-12">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-12">
                                    <!--<small>Servicio : </small>-->
                                    <span class="badge badge-primary">Servicio: </span>
                                    <strong>Proceso de Otorgamiento de Licencia de Funcionamiento
                                    </strong>
                                </div>                    
                            </div>                  
                        </div>
                        <div class="card-body p-12">
                            <form class="was-validated"> 
                                <div class="row" >                                    
                                  <table class="table table-bordered table-striped table-responsive-sm">
                                    <thead>
                                        <th>Segmento de persona</th> 
                                        <th>Nro.</th>                                                                 
                                        <th>Necesidad y/o expectativa</th>                                        
                                        <th>Validado</th>
                                        <th style="width:100px;">Acciones</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td rowspan="10">Persona Jurídica</td>
                                            <td>1</td>                                             
                                            <td>Actitud de servicio en el personal</td>
                                            <td><span class="badge badge-success">Sí</span></td>
                                            <td>
                                              <button type="submit" class="btn btn-sm btn-primary"><i class="fa icon-eye"></i> </button>                                                                             
                                            </td>
                                        </tr> 
                                        <tr>
                                            <td>2</td>
                                            <td>Contar con el personal preparado y formado para dar un buen servicio.</td>
                                            <td><span class="badge badge-success">Sí</span></td>
                                            <td>
                                              <button type="submit" class="btn btn-sm btn-primary"><i class="fa icon-eye"></i> </button>                                                                               
                                            </td>
                                        </tr> 
                                        <tr>
                                            <td>3</td>                                            
                                            <td>Información en tiempo real del estado del trámite</td>
                                            <td><span class="badge badge-success">Sí</span></td>
                                            <td>
                                              <button type="submit" class="btn btn-sm btn-primary"><i class="fa icon-eye"></i> </button>                                                                              
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>4</td>                                            
                                            <td>Recibir información completa y sin errores</td>
                                            <td><span class="badge badge-success">Sí</span></td>
                                            <td>
                                              <button type="submit" class="btn btn-sm btn-primary"><i class="fa icon-eye"></i> </button>                                                                                
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>5</td>                                            
                                            <td>Menor tiempo de atención.
                                            </td>
                                            <td><span class="badge badge-success">Sí</span></td>
                                            <td>
                                              <button type="submit" class="btn btn-sm btn-primary"><i class="fa icon-eye"></i> </button>                                                                                
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>6</td>                                            
                                            <td>Menor tiempo de espera para ser atendido</td>
                                            <td><span class="badge badge-success">Sí</span></td>
                                            <td>
                                              <button type="submit" class="btn btn-sm btn-primary"><i class="fa icon-eye"></i> </button>                                                                                
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>7</td>                                            
                                            <td>Menor costo por el servicio.</td>
                                            <td><span class="badge badge-warning">No</span></td>
                                            <td>
                                              <button type="submit" class="btn btn-sm btn-primary"><i class="fa icon-eye"></i> </button> 
                                              <a class="btn btn-sm btn-danger" style="color:white" ><i class="icon-close"></i></a>                                                                                
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>8</td>                                            
                                            <td>Sencillez en los documentos y formularios</td>
                                            <td><span class="badge badge-warning">No</span></td>
                                            <td>
                                              <button type="submit" class="btn btn-sm btn-primary"><i class="fa icon-eye"></i> </button> 
                                              <a class="btn btn-sm btn-danger" style="color:white" ><i class="icon-close"></i></a>                                                                                
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>9</td>                                            
                                            <td>Mayores canales de atención</td>
                                            <td><span class="badge badge-success">Sí</span></td>
                                            <td>
                                              <button type="submit" class="btn btn-sm btn-primary"><i class="fa icon-eye"></i> </button>                                                                                
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>10</td>                                            
                                            <td>Transparencia en la gestión del Trámite
                                            </td>
                                            <td><span class="badge badge-success">Sí</span></td>
                                            <td>
                                              <button type="submit" class="btn btn-sm btn-primary"><i class="fa icon-eye"></i> </button>                                                                                
                                            </td>
                                        </tr> 
                                    </tbody>
                                  </table>                 
                                </div>                            
                            </form>
                        </div>  
                    </div>
                </div>   
                <div class="card-footer p-4">
                  <div class="row">
                    <div class="col-4">
                    </div>
                    <div class="col-4">
                      <button type="button" class="btn btn-block btn-outline-primary" (click) ="confirmarGuardar();">Guardar</button>
                    </div>
                    <div class="col-4">
                      <button type="button" class="btn btn-block btn-success" (click) ="confirmarFinalizar();">Finalizar</button>
                    </div>
                  </div>
                </div> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

