<div class="animated fadeIn">

    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form class="was-validated">
                <h1>Cambiar contraseña</h1>
                <p class="text-muted">Aquí puede cambiar su contraseña</p>
                
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" placeholder="ingrese antigua contraseña" autocomplete="new-password" required>
                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" placeholder="ingrese nueva contraseña" autocomplete="new-password" required>
                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" placeholder="Repita la nueva contraseña" autocomplete="new-password" required>
                </div> 
              </form>
            </div>
            <div class="card-footer p-4">
              <div class="row">
                <div class="col-6">
                  <button type="button" class="btn btn-block btn-danger">Restablecer</button>
                </div>
                <div class="col-6">
                  <button type="button" class="btn btn-block btn-success" (click) ="confirmarGuardar();">Cambiar Contraseña</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  