<div class="animated fadeIn">
    <!--<div class="container">-->
      <div class="row">
        <div class="col-md-12 mx-auto">
          <div class="card mx-12">
            <div class="card-body p-12">
                    <h1>Propuesta de valor público del servicio</h1>
                    <p class="text-muted">Definir la propuesta de valor público del servicio de las necesidades/expectativas priorizadas</p>
                    <hr>
            </div>
          </div>
        </div>
      <!--</div>-->
    </div>
  
    <div>
      <!--<div class="container">-->
        <div class="row">
          <div class="col-md-12 mx-auto">
            <div class="card mx-12">
                <div class="card-body p-12">
                    
                        <!--<h3>Revisión comparativa de las necesidades y expectativas</h3>-->
                        <div class="card mx-12">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <!--<small>Servicio : </small>-->
                                        <P>
                                        <span class="badge badge-primary">Servicio: </span>
                                        <strong>Proceso de Otorgamiento de Licencia de Funcionamiento</strong>
                                        </P>
                                        <P>
                                        <span class="badge badge-primary">Segmento de personas: </span>
                                        <strong>Persona juridica</strong>
                                        </P>
                                    </div>                    
                                </div>                  
                            </div>
                            <div class="card-body p-12">
                                <form class="was-validated"> 
                                    <div class="row" >                                    
                                    <table class="table table-bordered table-striped table-responsive-sm">
                                        <thead>
                                            <th style="width: 40px;">Nro.</th>     
                                            <th style="width: 120px;">Conductor.</th>    
                                            <!--<th>Nro.</th>-->                                                                
                                            <th style="width: 160px;">Necesidad y/o expectativa</th>    
                                            <th>Oportunidades/amenazas del entorno</th>  
                                            <th>Descripción de la propuesta de valor público</th>
                                            <th>Estrategia a implementar</th>  
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td rowspan="2">1</td>      
                                                <td rowspan="2">Trato profesional durante la atención</td>  
                                                <!--<td>1</td>-->                                      
                                                <td>Actitud de servicio en el personal</td>
                                                <td>
                                                    <div class="input-group mb-3">                                                        
                                                        <textarea id="textarea-input" name="textarea-input" rows="2" class="form-control" placeholder="Descripción del Conductor"></textarea>
                                                    </div> 
                                                </td>
                                                <td>
                                                    <div class="input-group mb-3">                                                        
                                                        <textarea id="textarea-input" name="textarea-input" rows="2" class="form-control" placeholder="Descripción del Conductor"></textarea>
                                                    </div> 
                                                </td>
                                                <td>
                                                    <div class="input-group mb-3">                                                        
                                                        <textarea id="textarea-input" name="textarea-input" rows="2" class="form-control" placeholder="Descripción del Conductor"></textarea>
                                                    </div> 
                                                </td>                                                
                                            </tr> 
                                            <tr>
                                                <!--<td>2</td>-->                                    
                                                <td>Contar con el personal preparado y formado para brindar un buen servicio</td>
                                                <td>
                                                    <div class="input-group mb-3">                                                        
                                                        <textarea id="textarea-input" name="textarea-input" rows="2" class="form-control" placeholder="Descripción del Conductor"></textarea>
                                                    </div> 
                                                </td>
                                                <td>
                                                    <div class="input-group mb-3">                                                        
                                                        <textarea id="textarea-input" name="textarea-input" rows="2" class="form-control" placeholder="Descripción del Conductor"></textarea>
                                                    </div> 
                                                </td>
                                                <td>
                                                    <div class="input-group mb-3">                                                        
                                                        <textarea id="textarea-input" name="textarea-input" rows="2" class="form-control" placeholder="Descripción del Conductor"></textarea>
                                                    </div> 
                                                </td>                                                
                                            </tr> 
                                            <tr>
                                                <td rowspan="2">2</td> 
                                                <td rowspan="2">Información</td>  
                                                <!--<td>1</td>-->                                    
                                                <td>Información en tiempo real del estado del trámite</td>
                                                <td>
                                                    <div class="input-group mb-3">                                                        
                                                        <textarea id="textarea-input" name="textarea-input" rows="2" class="form-control" placeholder="Descripción del Conductor"></textarea>
                                                    </div> 
                                                </td>
                                                <td>
                                                    <div class="input-group mb-3">                                                        
                                                        <textarea id="textarea-input" name="textarea-input" rows="2" class="form-control" placeholder="Descripción del Conductor"></textarea>
                                                    </div> 
                                                </td>
                                                <td>
                                                    <div class="input-group mb-3">                                                        
                                                        <textarea id="textarea-input" name="textarea-input" rows="2" class="form-control" placeholder="Descripción del Conductor"></textarea>
                                                    </div> 
                                                </td>                                                
                                            </tr>
                                            <tr>
                                                <!--<td>2</td>-->                                      
                                                <td>Recibir información completa y sin errores</td>
                                                <td>
                                                    <div class="input-group mb-3">                                                        
                                                        <textarea id="textarea-input" name="textarea-input" rows="2" class="form-control" placeholder="Descripción del Conductor"></textarea>
                                                    </div> 
                                                </td>
                                                <td>
                                                    <div class="input-group mb-3">                                                        
                                                        <textarea id="textarea-input" name="textarea-input" rows="2" class="form-control" placeholder="Descripción del Conductor"></textarea>
                                                    </div> 
                                                </td>
                                                <td>
                                                    <div class="input-group mb-3">                                                        
                                                        <textarea id="textarea-input" name="textarea-input" rows="2" class="form-control" placeholder="Descripción del Conductor"></textarea>
                                                    </div> 
                                                </td>                                                
                                            </tr>
                                            <tr>
                                                <td>3</td> 
                                                <td>Tiempo de provisión</td>  
                                                <!--<td>1</td>-->                                      
                                                <td>Menor tiempo de espera para ser atendido</td>
                                                <td>
                                                    <div class="input-group mb-3">                                                        
                                                        <textarea id="textarea-input" name="textarea-input" rows="2" class="form-control" placeholder="Descripción del Conductor"></textarea>
                                                    </div> 
                                                </td>
                                                <td>
                                                    <div class="input-group mb-3">                                                        
                                                        <textarea id="textarea-input" name="textarea-input" rows="2" class="form-control" placeholder="Descripción del Conductor"></textarea>
                                                    </div> 
                                                </td>
                                                <td>
                                                    <div class="input-group mb-3">                                                       
                                                        <textarea id="textarea-input" name="textarea-input" rows="2" class="form-control" placeholder="Descripción del Conductor"></textarea>
                                                    </div> 
                                                </td>                                               
                                            </tr>  
                                        </tbody>
                                    </table>                 
                                    </div>                            
                                </form>
                            </div>  
                        </div>
                    
                </div>   
                <div class="card-footer p-4">
                  <div class="row">
                    <div class="col-4">
                    </div>
                    <div class="col-4">
                      <button type="button" class="btn btn-block btn-outline-primary" (click) ="confirmarGuardar();">Guardar</button>
                    </div>
                    <div class="col-4">
                      <button type="button" class="btn btn-block btn-success" (click) ="confirmarFinalizar();">Finalizar</button>
                    </div>
                  </div>
                </div> 
            </div>
          </div>
        </div>
      </div>
    <!--</div>-->
  </div>



