<div class="animated fadeIn">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mx-auto">
          <div class="card mx-12">
            <div class="card-body p-12">
                <form class="was-validated">
                    <h1>Análisis de la Experiencia</h1>
                    <p class="text-muted">Análisis de la experiencia durante las etapas proceso para obtener el servicio</p>
                     
                    <hr>
                    <div class="row">
                      <div class="col-8">
                        <h5>Agregar items al análisis de experiencia por etapas</h5>                        
                      </div>                      
                    </div>    
                    <hr>                    
                    <div class="row">                         
                        <div class="col-md-4 col-xs-12">  
                            <select class="form-control" id="tvariable" [(ngModel)]="tvariable">
                                <option>Seleccione etapa</option>
                                <option>Preguntar sobre la duda o consulta</option>
                                <option>Responder duda o consulta</option>                                
                                <option>Despedida</option>                                
                             </select>                              
                        </div> 
                        <div class="col-md-8 col-xs-12">  
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="icon-map"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Aspectos de la experiencia de la persona" autocomplete="Aspectos de la experiencia de la persona" required>
                            </div>                             
                        </div>
                    </div>  
                    <div class="row">                         
                        <div class="col-md-6 col-xs-12">  
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="icon-map"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Causa" autocomplete="Causa" required>
                            </div>                             
                        </div>
                        <div class="col-md-6 col-xs-12">  
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="icon-map"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Mejoras planteadas" autocomplete="Mejoras planteadas" required>
                            </div>                             
                        </div>
                    </div>    
                </form>
            </div>  
            <div class="card-footer">
                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Agregar</button>
                <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Restablecer</button>
              </div> 
          </div>
        </div>
      </div>
    </div>  

    <div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 mx-auto">
            <div class="card mx-12">
                <div class="card-body p-12">
                    <h3>Etapas del proceso obtener para el servicio elegido</h3>
                    <div class="card mx-12">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-12">
                                    <!--<small>Servicio : </small>-->
                                    <span class="badge badge-primary">Servicio: </span>
                                    <strong>Proceso de Otorgamiento de Licencia de Funcionamiento
                                    </strong>
                                </div>                    
                            </div>                  
                        </div>
                        <div class="card-body p-12">
                            <form class="was-validated"> 
                                <div class="row" >                                    
                                  <table class="table table-bordered table-striped table-responsive-sm">
                                    <thead>
                                        <th style="width: 40px;">Nro.</th>
                                        <th>Etapa</th> 
                                        <th>Aspectos de la experiencia de la persona (énfasis en la insatisfacción)</th> 
                                        <th>Causa</th>
                                        <th>Mejoras planteadas</th>
                                        <th style="width:40px;">Validado</th>
                                        <th style="width:100px;">Acciones</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>01-Saludo y recepción</td>
                                            <td>Inicial inquietud por no saber dónde está el punto de orientación</td>
                                            <td>Existen falencias en la señalización del espacio de atención al ingreso de la persona, no distinguiéndose claramente la zona donde se puede solicitar información</td>
                                            <td>Mejorar la señalización hacia y en la zona de orientación</td>
                                            <td><span class="badge badge-success">Sí</span></td>
                                            <td>
                                                                                                                          
                                            </td>
                                        </tr> 
                                        <tr>
                                            <td>2</td>
                                            <td>01-Saludo y recepción</td>
                                            <td>Molestia pues al saludar al orientador este no le contesta adecuadamente el saludo</td>
                                            <td>El orientador no sigue el protocolo o pauta de atención que indica saludar y presentarse (identificación)</td>
                                            <td>Fortalecer la capacitación del personal en materia de aplicación del protocolo de atención</td>
                                            <td><span class="badge badge-warning">No</span></td>
                                            <td>
                                                <a class="btn btn-sm btn-danger" style="color:white" ><i class="icon-close"></i></a>                                                                            
                                            </td>
                                        </tr>
                                    </tbody>
                                  </table>                 
                                </div>                            
                            </form>
                        </div>  
                    </div>
                </div>   
                <div class="card-footer p-4">
                  <div class="row">
                    <div class="col-4">
                    </div>
                    <div class="col-4">
                      <button type="button" class="btn btn-block btn-outline-primary" (click) ="confirmarGuardar();">Guardar</button>
                    </div>
                    <div class="col-4">
                      <button type="button" class="btn btn-block btn-success" (click) ="confirmarFinalizar();">Finalizar</button>
                    </div>
                  </div>
                </div> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


